[2011-12-09 05:03] dlethin opened #1 "clover plugin not finding my customized sourceSet locations"
Hi. I'm trying out your plugin but unfortunately its not working out of the box in my build, and I'm not sure if its the plugin or how I have my build set up.  I tried to download and look at the source for this plugin, but I'm unfamiliar with the Gradle "Actions" class, so the logic was not immediately obvious to me.

I'm trying to run this in a multimodule buld.  The first error I get is:

The s

[2011-12-16 12:45] bmuschko opened #2 "Upgrade to latest Gradle Wrapper"
Also fix potential deprecation messages e.g.:

[code]

[2011-12-16 12:53] bmuschko opened #3 "Use a license from a web server"
Explore the option of using a HTTP URL for either pulling down the license or directly reference it. I'd have to have a look at the Ant task definition. Maybe this is possible out-of-the-box. Otherwise write the pull down the content with Groovy and  write it to a temp file.

[2011-12-16 12:54] bmuschko opened #4 "Make root project not automatically apply Java plugin"
When I apply the clover plugin to the rootProject of a multi-project build to access the cloverAggregateReports tasks, the JavaPlugin is automatically applied. I suspect that this is to get access to plugins check or test tasks. I believe that this can be re-written to programmatically check for these instead of forcing the JavaPlugin into the root project.

[2011-12-16 13:14] bmuschko opened #5 "Support for Clover history"
See [Clover documentation](http://confluence.atlassian.com/display/CLOVER/%27Historical%27+Report).

[2011-12-16 13:17] bmuschko opened #6 "Convention property for additional classpath"
Some project define extra non-standard configurations. These are not taken into consideration by default by the plugin. To provide support we want to expose a convention property that lets the user add additional classpaths.

[2011-12-16 13:19] #1 closed, assigned to bmuschko

[2011-12-17 14:05] #2 closed, assigned to bmuschko

[2011-12-18 22:59] #3 closed, assigned to bmuschko

[2011-12-28 18:54] peterwalker opened #7 "Produce a multi-project gradle sample that uses the gradle sonar to consume these gradle clover reports."

[2012-01-01 16:09] #7 closed, assigned to bmuschko

[2012-01-03 17:05] peterwalker opened #8 "Support custom source sets."
Looking at the gradle/sonar plugin, something similar to this needs to be supported.

27.3. Analyzing Custom Source Sets
By default, the Sonar plugin will analyze the production sources in the main source set and the test sources in the test source set. This works independent of the project's source directory layout. Additional source sets can be added as needed.

Example 27.9. Analyzing custom so

[2012-01-10 03:27] #8 closed, assigned to bmuschko

[2012-01-10 17:57] pdolega opened #9 "Unable to find plugin"
I am using milestone-6 (also tried with m-7) of gradle.

I define dependency to jar:

buildscript {
    dependencies {
    classpath files(new File(gradle.gradleUserHomeDir, 'plugins/gradle-clover-plugin-0.4.jar'))
    }
}

and then try to add plugin:

apply plugin: "clover"

Unfortunately whatever I do I always get:
[pdolega@pdolega build]$ gradle -p ../ build --info
Starting Build
Settings evalu

[2012-01-10 18:24] #9 closed, assigned to bmuschko

[2012-01-12 12:20] #4 closed, assigned to bmuschko

[2012-01-12 12:25] #6 closed, assigned to bmuschko

[2012-01-25 12:45] peterwalker opened #10 "Download the clover.license to buildDir instead of projectDir."

[2012-02-02 02:55] #10 closed, assigned to bmuschko

[2012-02-22 17:35] mambon2 opened #11 "additionalTestDirs adds sourceSet to test sourceSet"
We have a separate test task "integrationTest" that uses the integrationTest sourceSet.  These need to be configured differently.  that is the reason why we have a separate test task for them.

When I try to add clover instrumentation by using additionalTestDirs, the sourceSet ends up being added to the "test" sourceSet, which results in the integrationTests being executed twice.  Once by the inte

[2012-03-08 22:00] mambon2 opened #12 "cloverGenerateReport overwrites classes dir with instrumented code"
We have noticed that classes dir gets overwritten with instrumented classes but is not reverted back to non-instrumented classes after the task completes.

There is an implicit assumption that the jar task will execute before the cloverGenerateReport task, but this might not always be the case.  And if the jar task executes after cloverGenerateReport task, the resulting jar will have the instrumen

[2012-03-12 19:43] peterwalker opened #13 "cloverAggregateReports assumes that the rootProject buildDir has been created and fails if not."
cloverAggregateReports assumes that the rootProject buildDir has been created and fails if not.

[2012-03-17 15:18] #13 closed, assigned to bmuschko

[2012-03-18 13:15] #12 closed, assigned to bmuschko

[2012-03-27 21:16] ghost opened #14 "cloverAggregateReports not an available task in 0.5.2"
We're using Gradle multi-project builds, and `cloverGenerateReport` works fine, but when trying to add `cloverAggregateReports` we get the following error:

I looked at the code briefly but I am not familiar with how gradle plugins are written. It certainly looks like it's a registered task in `CloverPlugin.groovy`

[2012-03-27 21:27] #14 closed, assigned to bmuschko

[2012-05-04 19:47] mambon2 opened #15 "Excluding subprojects from clover fails"
Please let us know how best to exclude 1 subproject from clover.

allprojects {
    if (name != 'project_to_exclude') {
        apply plugin: 'clover'
        clover {
            licenseLocation = "http://clover.services.gs.com/license.txt"
            report {
                html = true
            }
        }

[code]

}

This implementation fails with this error

Failed to notify build listene

[2012-05-07 20:01] java-developer opened #16 "targetPercentage not working"
Hello,

I'm having difficulty getting the build to fail when the code coverage is below the value specified by the targetPercentage property. The value is always ignored and the build passes. My build file is below. Where am I going wrong?

Thanks!

[code]

[2012-05-07 21:04] #15 closed, assigned to bmuschko

[2012-05-07 21:08] mambon2 opened #17 "cloverGenerateReport does not depend on subproject"
When applying the clover plugin to multiple subprojects, the root level task cloverGenerateReport does not depend on the corresponding tasks on the subprojects.

Clover plugin should ensure the rootProject cloverGenerateReport task executes after all the subprojects have executed.   As is, the cloverAggregateReports fails because none of the subprojects reports were generated.

Execution failed fo

[2012-05-09 01:52] #16 closed, assigned to bmuschko

[2012-06-12 19:19] mattfair opened #18 "excluding tests"
The clover plugin doesn't seem to be respecting

[code]

When I run cloverGenerateReport, it still runs those tests.  Do I need to specifically exclude them also under clover?

Thanks,
Matt

[2012-06-21 16:18] mjohnsonaz74 opened #19 "java.lang.IncompatibleClassChangeError: Found class groovyjarjarasm.asm.MethodVisitor, but interface was expected"
At first I thought that this might be cured by a 'clean', but it keeps reoccurring and happens consistently.  This particular error happens in a multi-project setting and I'm hoping that it's caused by a configuration mistake rather than a plugin defect.  My current project is setup as follows:

buildscript {
     repositories{
          //Maven repos
          add(new org.apache.ivy.plugins.resol

[2012-12-20 18:38] mambon2 opened #21 "I can't download from public repo anymore"
github seems to be blocking the downloads repo.  Do you know what happened?

http://cloud.github.com/downloads/

[2012-12-22 13:04] #21 closed, assigned to bmuschko

[2013-01-30 07:28] hubbaba opened #22 "Groovy class with extends fails"
Whenever I try to use the gradle-clover-plugin and compile a groovy class that extends another groovy class, I get the following error message.  Note that there is no java in my project and I am using the groovy plugin in gradle.  Here is the gradle trace:

~/dev/cassidian/IntegrationPlatformCommons$ gradle clean build cloverGenerateReport
The specified source directory '~/dev/project/src/test/jav

[2013-01-30 08:09] #22 closed, assigned to bmuschko

[2013-03-05 20:45] gredler opened #23 "Remove dependency on project.configurations.groovy (Gradle 1.4+)"
Starting with Gradle 1.4, the "groovy" configuration has been deprecated in favor of a standard "compile" dependency:

http://www.gradle.org/docs/1.4/release-notes#automatic-configuration-of-groovy-dependency-used-by-groovycompile-and-groovydoc-tasks

There is a hardcoded dependency on the "groovy" configuration in CloverPlugin.groovy:

instrumentCodeAction.conventionMapping.map('groovyClasspath')

[2013-03-06 02:04] #19 closed, assigned to bmuschko

[2013-03-09 22:43] #17 closed, assigned to bmuschko

[2013-04-22 22:20] erdi opened #24 "Allow to apply Clover plugin before applying Java plugin"
Because of using each in this [line](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/org/gradle/api/plugins/clover/CloverPlugin.groovy#L102) instead of using [live collection feature](http://www.gradle.org/docs/current/javadoc/org/gradle/api/DomainObjectCollection.html#withType%28java.lang.Class,%20groovy.lang.Closure%29) of domain containers in Gradle if you apply Clo

[2013-04-22 22:33] erdi opened #25 "Support multiple Test tasks per project."
It would be cool if the plugin supported multiple test tasks per project. Currently if one has more than one test tasks in a project one has to resort to some really nasty tricks to avoid [clover db file clashes](https://github.com/golo-lang/gradle-golo-plugin/blob/master/gradle/clover.gradle#L31) and then [merging](https://github.com/golo-lang/gradle-golo-plugin/blob/master/gradle/clover.gradle#L

[2013-04-22 22:46] erdi opened #26 "Allow usage of Clover plugin for projects where not all subprojects have the plugin applied to them"
In Geb, we only want to apply the plugin to core modules and root project (to be able to run `cloverAggregateReports`) but not anything internal or docs related. Currently it is not possible as [here](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/org/gradle/api/plugins/clover/CloverPlugin.groovy#L152) it is assumed that all subprojects have a `cloverGenerateReport` t

[2013-05-05 23:17] #26 closed, assigned to bmuschko

[2013-05-05 23:17] #25 closed, assigned to bmuschko

[2013-05-05 23:17] #24 closed, assigned to bmuschko

[2013-07-30 18:30] mambon2 opened #28 "GenerateCoverageReportTask.writeReport() fails in Gradle 1.7-rc2"
This plugin seems to break in Gradle 1.7-rc2.  Here is my stacktrace of the exception

Execution failed for task ':cloverGenerateReport'.

- Try:
  Run with --debug option to get more log output.
- Exception is:
  org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':cloverGenerateReport'.
  at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(Exe

[2013-08-06 22:37] paulk-asert opened #29 "to avoid warnings, .add() could be replaced with .create()"
Similar to what was done for the cargo plugin

[2013-09-06 12:41] #28 closed, assigned to nobody

[2013-09-06 18:40] mambon2 opened #31 "AggregateReportsTask is broken in 0.6.2/Gradle 1.7, see stack trace below"
Caused by: org.gradle.api.GradleException: Could not call AggregateReportsTask.writeReport() on task ':cloverAggregateReports'
    at org.gradle.util.JavaMethod.invoke(JavaMethod.java:71)
    at org.gradle.api.internal.BeanDynamicObject$MetaClassAdapter.invokeMethod(BeanDynamicObject.java:295)
    at org.gradle.api.internal.BeanDynamicObject.invokeMethod(BeanDynamicObject.java:136)
    at org.grad

[2013-09-08 16:16] #31 closed, assigned to bmuschko

[2013-09-08 16:16] #29 closed, assigned to bmuschko

[2013-09-08 16:16] #23 closed, assigned to bmuschko

[2013-09-13 13:49] koalalam opened #32 "Clover excludes directory in test runtime classpath"
We have a multi modules (A & B) project which the test cases in B requires test cases in A. Therefore, in B, we have the following dependency:

testCompile project(':A').sourceSets.test.output

Tests in B are working fine, however, when Clover is used, there are compilation errors complaining classes in module A are missing.

We suspected that the classes directory is excluded in the test runtime

[2013-09-23 08:42] abeggchr opened #33 "Generate JARs with instrumened classes"
Generate JARs with instrumened classes to be used to get coverage of distributed applications: https://confluence.atlassian.com/display/CLOVER/Working+with+Distributed+Applications

[2013-09-24 18:44] solidjb opened #34 "Aggregation step on sub-module with no tests fails."
I have a sub-module that only has some interfaces in them.  Therefore, there are no tests.  When I run my build, I get the following error on that sub-module:

[code]

This happens with both Gradle 1.7 and Gradle 1.8.

Would it be possible to just make the plugin do nothing as opposed to failing?

[2013-09-25 19:33] phasebash opened #35 "Context filters not applied to 'clover-check' task."
In GenerateCoverageReportTask.groovy in the method _generateReport_ the _checkTargetPercentage_ method needs to be passed the filter string, and included in the ant task argument map in _checkTargetPercentage_.

I will submit a pull request momentarily.

[2013-09-26 22:47] vbykin opened #37 "simple way to disable code coverage"
Maybe there is already a way to do it, but I can't find any info.  Is there a parameter that can be passed on the command line?

[2013-10-19 12:50] #35 closed, assigned to bmuschko

[2013-11-21 09:18] johany opened #40 "Contexts to exclude with filter does not seem to work with multi-module project"
I am trying to exclude some methods from the report but it does not seem to work with multi-module project. It works per module, but not when running cloverAggregateReports. As far as I can see you don't include the filter when calling the writeReports() method from aggregateReportsTask task.

clover {
    licenseLocation = rootProject.file('clover.license')

[code]

}

[2013-12-04 20:47] jimsimon opened #41 ""apply plugin: 'clover'" failing"
Entire build file:

[code]

Debug output:

[code]

Let me know if you need any more details.

[2013-12-04 21:47] #41 closed, assigned to bmuschko

[2013-12-21 15:53] #40 closed, assigned to bmuschko

[2013-12-21 15:53] #37 closed, assigned to bmuschko

[2013-12-21 15:54] #34 closed, assigned to bmuschko

[2014-01-21 14:00] agassi47 opened #42 "maxComplexity of methodContext is not supported by plugin"
According to https://confluence.atlassian.com/display/CLOVER/methodContext

method context has 6 attributes,

but gradle plugin supports only name and regexp.

Please fix the line # 96 in https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/org/gradle/api/plugins/clover/InstrumentCodeAction.groovy and method context convention

[2014-01-30 22:34] jjathman opened #43 "Test in different subproject does not add to test coverage"
I'm not sure if I have something configured incorrectly, or if this is really a bug, any help would be appreciated.

I have a multi-project build. Let's say I have a class in projectA. There is also a test class in projectB. After the cloverAggregateReports task, the coverage report will show that the class will have 0% coverage, but the test will still show that it is run. It seems like coverage

[2014-03-06 12:09] aburmeis opened #44 "No possibility to set encoding for compiler"
When using the clover plugin, some tests containing UTF-8 characters in assertions fail on some machines. I think the default encoding is used. An option to set the source encoding should be offered!

[2014-06-08 12:53] #44 closed, assigned to bmuschko

[2014-07-02 15:56] #43 closed, assigned to nobody

[2014-08-20 21:53] mcgois opened #48 "Change log.warn to log.info"
Hi there,

Some projects have just groovy code and the warning "The specified source directory 'C:\Workspace2\pigiop\src\main\java' does not exist. It won't be included in Clover instrumentation." is quite annoying. It would be nice to change log.warn to log.info so that we can capture LogLevel.INFO on gradle and it wouldn't display on the console.

What do you think?

M.C.

[2014-10-08 06:57] srikanthsara opened #50 "Unable to get Dynamic clover integration with Tomcat server process( using gradle application)"
i took small clover application that compiled with gradle and i ran task :>> gradle cloverGenerateReport

the log it shown is,..

:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:compileTestJava UP-TO-DATE
:processTestResources UP-TO-DATE
:testClasses UP-TO-DATE
:test UP-TO-DATE
:cloverAggregateDatabases
:cloverGenerateReport
[ant:taskdef] Could not load definitions from r

[2014-10-10 16:48] awittig opened #51 "java is not compiled with debug info"
Hello,

The plugin currently compiles the instrumented java source _without_ debug info [`-g:vars`].

We are using Spring framework, which can rely on variable names in debug info when autowiring beans.  Adding this plugin to our build causes tests to fail, because Spring can no longer autowire many beans.

Is it possible to compile _with_ java debug info instead?

[2014-10-17 07:18] srikanthsara opened #52 "[clover-report] No coverage recordings found. No report will be generated."
Hi All,

i took small web  application(2 servlets and coressponding test classes),.. compiled with Ant script and generating clover.db , war files in target folder , generated log as shown below,...
#

D:\SonarReportHTML_SVN\Clover_Tomcat_Dynamic_New\project1>ant -f build.xml  runcoverage

Buildfile: build.xml
  [taskdef] Could not load definitions from resource cloverjunitlib.xml. It could not be

[2014-10-22 12:25] #50 closed, assigned to nobody

[2014-11-04 11:46] srikanthsara opened #54 "How to configure -Dclover.initstring="cloverdata\coverage.db" in tomcat server,.."
hi all,
i implemented the  a web application ,deployed in tomcat and need to implement this process with clover for code coverage,..so where i need to configure -Dclover.initstring(i added this configuration -Dclover.initstring="E:\project1\cloverdata\coverage.db" %JAVA_OPTIONS% in start.bat and setenv.bat but no proper result,... )

[2014-11-07 15:49] phasebash opened #55 "Avoid Joint Compilation of Java Sources by Groovy Compiler"
groovyc via Groovy 2.x does not support all of the Java 8 syntax, which makes using the Gradle Clover Plugin with Java 8 sources and Groovy tests impossible.

This file:
https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/org/gradle/api/plugins/clover/InstrumentCodeAction.groovy

This is actually a complicated problem to solve, since we have the following possibilities:
1.

[2014-11-15 15:34] #48 closed, assigned to bmuschko

[2015-01-19 04:14] phasebash commented on #42
A new pull request is coming this week, code is done and verified in tests.  Just need to polish up the integration tests a bit, looking for a decent set of assertions to make.

[2015-04-09 02:56] sgov opened #58 "Is this plugin supported in Gradle 1.6?"
I tried it and I keep getting the message "Plugin with id 'com.bmuschko.clover' not found." while using with gradle 1.6. I tried this with gradle 2.1 and things seem fine. Also will this plugin get coverage for backend services, meaning a bunch of stood-up java services and selenium tests run on them. Please advice.

Thanks,

[2015-04-12 13:52] bmuschko commented on #58
How do you apply the plugin? The plugin with version 2.x is not compatible with Gradle 1.6. You'd have to go for an older version of the plugin. Please see `RELEASE_NOTES.md`.

No, not possible at the moment.

[2015-05-18 12:11] bmuschko commented on #58
I haven't heard back from you so I am going to close the issue.

[2015-05-18 12:11] #58 closed

[2015-07-15 04:05] jeremydyoung opened #59 "Java project with groovy tests can't find groovyc"
When you have a project where only the tests use groovy, the clover plugin can't locate Groovyc as seen in the error below.

[code]

The workaround is to include groovy as a compile dependency, however this is not ideal.

[2015-07-15 04:15] jeremydyoung commented on #59
I am not sure if it would have been better to only create the pull request, sorry if this was duplication.

[2015-08-12 17:01] ethrbunny opened #61 "JUnit stack traces are invalid after clover inclusion"
When I include clover (via bmuschko plugin -> gradle 2.4) and have failed JUnit tests I get stack traces with missing line / file info:

com.monitor.config.FileConfigTest > oldConfig FAILED
    org.yaml.snakeyaml.scanner.ScannerException at null:-1

In the test report I see lines like this:

[code]

[2015-09-08 19:29] william-poitras opened #62 "Support instrumentLambda Clover property"
Add support for a instrumentLambda property.  It is an attribute of the 'clover-setup' configuration in Ant.  It accepts: "all_but_reference", "block" or "none" values.

[2015-10-05 12:54] jeeftor opened #65 "Clover 4.0?"
The documentation points to:

    dependencies {
        clover 'com.cenqua.clover:clover:3.2.0'
    }

Is this still valid?  I thought clover was up to 4.0.6?

[2015-10-05 14:47] bmuschko commented on #65
You can assign any Clover version you like. It's an usage example.

[2015-10-05 14:47] #65 closed

[2015-10-05 15:01] jeeftor opened #66 "License issues in multi-project config"
I have a base project with 3 sub projects

In my base `build.gradle` I have added:

[code]

When I do `./gradlew test` it seems to make my my grade database and seems to find my `clover.license` file in the project root totally fine.

The issue i'm having is with:

`./gradlew cloverAggregateDatabases`
`./gradlew agregateGenerateReport`
`./gradlew cloverGenerateReport`

where they are reporting:

I

[2015-10-05 15:04] jeeftor commented on #43
Did you ever get this working?

[2015-10-05 15:14] jeeftor commented on #66
It looks like the `cloverAggregateDatabases` command is being called by all these asks and its unable to find the correct license file...  which is odd because when i run the `test` task it finds the license file fine ...

[2015-10-07 17:20] Alex-Vol commented on #66
I think I understand the issue. The CloverReportTask injects the clover.license.path property in the ant instance when it executes but other tasks do not do that. If you execute the build is a way that the CloverReportTask is not up-to-date and in the same build invoke any of the other clover tasks then things work OK. The clover.license.path should be injected in all cases where the cloverlib.xml

[2015-10-07 18:50] jeeftor commented on #66
So i did some more digging and I was able to get the clover working if i put the `clover.license` file in:

`~/.gradle/caches/modules-2/files-2.1/com.atlassian.clover/clover/4.0.5/1f5108dfe4e613f2b4a9f5de5c6aa6f4f9fc4042/clover.license`

Is that an easy fix to make with the license path fix?

[2015-10-07 19:08] Alex-Vol commented on #66
I believe clover will look for the license in the classpath by default as a file resource by the name clover.license. What you did was in essence making clover.license be in the classpath. I made a quick fix for this in my fork and will issue a pull request as soon as I have a proper integration test for it.

[2015-11-12 00:38] szetheli opened #68 "clover.enabled not wired to do anything"
Looking at CloverPluginConvention.groovy there is an 'enabled' that is plumbed through to InstrumentCodeAction.groovy, but then is never used.

When I tried adding:
`clover {
    enabled = false
}`
I still get instrumented classes.  I'm interested in being able to conditionally disable clover without having to rip out all the clover references.
The particular reason I'm interested in it is because

[2015-11-17 19:23] imdira commented on #43
@jjathman @bmuschko  have you found any workaround this thing or do you have to create your own clover.gradle version or hack the plugin?

[2015-11-17 19:28] jjathman commented on #43
No sorry I haven't spent any more time on it to get it working. Really the key is my last comment which is how we need to generate instrumented jars instead of what currently happens where only the project being tested is instrumented at runtime.

[2015-11-17 20:17] imdira commented on #43
Thanks, I am trying to work out how to do that.

[2015-11-19 21:33] GrantSeltzer opened #69 "testIncludes list does not support instrumentation of spock tests"
When I add spock tests to testIncludes list, it includes those tests as classes. Specifically i'm adding '*_/_Spec.groovy' which is how the tests are named. I believe the tests are effectively being run but show up on the class tab instead of the test tab on the bottom left of the report.

[2016-01-14 13:30] mikeawatson commented on #68
We had no issue with using enabled. A value was set in a property file to read from..the only gotcha was to make sure the string was converted to boolean using the toBoolean() call.
e.g.enabled = useCloverPropertyValue.toBoolean()
Seemed to work. We didn't see the clover output if it was set to false in property file.

[2016-01-20 20:35] squarepegsys opened #71 "Using plugin with Grails 3"
I'm trying to get this plugin to work with Grails 3. I'm sure I'm having a configuration problem, not a bug per se, but I'm lost

    apply plugin: 'com.bmuschko.clover'

    clover {
       licenseLocation ='license.txt'
       testIncludes = ["**/*Spec.groovy"]
       includes=["**/*.groovy"]
       additionalSourceDirs=["src/main/groovy", "grails-app"]
       additionalTestDirs=["src/integratio

[2016-01-22 13:54] bmuschko commented on #71
The type of property is [Set<File>](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/clover/CloverPluginConvention.groovy#L34). At the moment you are passing in a `List<String>`. It's not documented well. There should be Groovydocs for the plugin API.

[2016-01-22 13:54] #71 closed

[2016-01-27 21:04] jordanbragg commented on #18
Was there ever a workaround for this? I am running into this now. I have tests that are usually excluded as part of the unit tests and I cannot get them to not run as part of cloverGenerateReport. As you stated excludes in clover did not do the job.

[2016-03-04 12:45] ShyamsunderJoshi opened #72 "[clover-setup] Attempt to copy some class files to main-bak"
Our project's gradle task - test - runs successfully if I do not have clover integration. But when I introduce clover in my buid.gradle, gradle task - test - fails. Any help is much appreciated.

Log -
:SDK:test
[clover-clean] Clover Version 3.2.0, built on October 21 2013 (build-908)
[clover-clean] Loaded from: /home/vagrant/.gradle/caches/modules-2/files-2.1/com.cenqua.clover/clover/3.2.0/e09fee

[2016-04-04 16:25] okorz001 commented on #59
Thanks for the patch, I was stuck on this.

[2016-08-15 16:43] markandirene opened #75 "Grails 3 tests not executed"
[code]

:        classpath "com.bmuschko:gradle-clover-plugin:2.0.1"
    }

apply plugin: "com.bmuschko.clover"

clover  {
    additionalSourceDirs = [new File("src/main/groovy"), new File("grails-app")] as Set
    additionalTestDirs=[new File("src/test/groovy/"), new File("src/integration-test/groovy")] as Set
    includes = ['**/*.groovy', '**/_.java']
    testIncludes = ['__/_Spec.java']
    re

[2016-08-22 03:05] gubug0 opened #76 "Gradle 3.0 support"
Plugin don't support gradle 3.0
In previous version of gradle, [test.testSrcDirs](https://docs.gradle.org/2.14.1/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:testSrcDirs) is deprecaed and removed in gradle 3.0.

[code]

[code]

In my case, I solved problem below:

[code]

But doesn't clear I think.

THANKS

[2016-09-28 08:48] ivankennethwang opened #77 "Not executing test cases in a multi-build.gradle project"
Can help me how to setup in a project structure like this?

./app/build.gradle
./app/src/main/java/Sample.java
./app/src/test/java/SampleTest.java
./build.gradle

This is my current setup and it's not executing my test cases.

Thanks in advance.

[2016-10-10 16:00] bmuschko commented on #76
I'd be happy to release a new version if you send me a pull request that makes the plugin compatible with Gradle 3.0. As indicated by the error message, the usage of property `Test.testSrcDirs` needs to be removed from the source code. From the [Gradle Javadocs](https://docs.gradle.org/2.14.1/javadoc/org/gradle/api/tasks/testing/Test.html#getTestSrcDirs()):

[2016-11-09 21:47] lakshgupta commented on #61
I am also facing the same problem for a build using Gradle 3.1 and running tests using the TestNg plugin.  Is there a workaround available? I thought of setting 'enabled' to false in the clover task based on an argument, but that also does not help in this case.

[2016-12-12 08:22] shikharchaudhary commented on #77
If your source and tests are in the same module then clover should work fine.I am facing issues when both are in different modules.

[2017-02-02 11:54] ToYonos commented on #66
Will the version 2.0.2 (including the fix) be pushed soon on jcenter ?

[2017-03-09 07:38] rajanadar opened #79 "Does this plugin work with JUnit5?"
hey @bmuschko

thanks for the plugin. quick question, does this plugin work as-is with JUnit 5 tests.

I have the following in my build.gradle

[code]

when i run the `gradle build cloverGenerateReport` task, i get the following output.

[code]

there is no output `clover.db` or any report generated anywhere.

i also tried adding the `clover` block within

[code]

since JUnit5 has a funky evaluati

[2017-04-29 19:25] Alex-Vol-SV commented on #59
This is a very simple and well formed pull request with integration tests. We should try to get it merged in the current release stream.

[2017-04-29 19:26] Alex-Vol-SV commented on #68
I have used enabled successfully with the provision of making sure the value assigned is a true boolean value. I think this can be classified as user error. Another choice to make it less error prone is to have the convention class normalize the input by converting the provided value to boolean internally.

[2017-04-29 19:30] Alex-Vol-SV commented on #77
All my clover projects are setup in the way you are setting this one. I am noticing you did not provide a settings.gradle though. Is that an omission in your example structure? I apply the clover plugin at the root project build.gradle and at the subproject build.gradle. All tests build and provide clover coverage.

[2017-04-29 19:32] Alex-Vol-SV commented on #76
I am planning a large Gradle project migration to Gradle 3.0 and will most likely have to patch the Clover plugin for Gradle 3.0 compatibility. When I get around to this I will provide a patch for it.

Do we want to fork this to continue a support stream for gradle <= 2.14.1 and gradle >= 3.0?

[2017-05-04 22:23] ericparton commented on #76
@Alex-Vol-SV, you might be interested to know that Atlassian recently open sourced Clover and rebranded it as Open Clover. It looks like the release of an official gradle plugin is imminent based on the information the developers posted [here](http://openclover.org/downloads).

[2017-05-04 22:30] bmuschko commented on #76
@ericparton @Alex-Vol-SV IMHO it is still to be seen how it will play out in practice. Atlassian might have open sourced Clover but their plugin is very limited in functionality. Also I don't see any clear ownership at the moment. Please see [this Twitter conversation](https://twitter.com/bmuschko/status/854312539248881665) for more information.

[2017-05-04 22:32] bmuschko commented on #76
@Alex-Vol-SV For this change I'd just assume that consumers will use a Gradle version >= 3.0. Let's not introduce any kind of branching logic for backward compatibility. Gradle 3.0 is already over a year old and 4.0 is going to be released soon.

[2017-05-04 22:34] bmuschko commented on #79
No, JUnit 5 is not supported by the plugin nor does Gradle core provide native support for it.

[2017-05-04 22:36] bmuschko commented on #68
@Alex-Vol-SV verified that it works as expected. Closing.

[2017-05-04 22:36] #68 closed

[2017-05-04 23:22] Alex-Vol-SV commented on #76
@bmuschko I was not suggesting branching logic to keep backward compatibility. More in terms of a git branch to backport any completed fixes that apply to Gradle 2.x if that is desirable.

As far as versioning I would suggest when we have a Gradle 3.0 compatible version perhaps the major version of this plugin also becomes 3.x?

[2017-05-05 12:17] bmuschko opened #80 "Use TestKit for defining and executing functional tests"
All tests under `integTest` should be executed with [TestKit](https://docs.gradle.org/current/userguide/test_kit.html), the built-in solution for executing functional tests with Gradle.

Goal: Avoid any custom infrastructure logic, benefit from built-in features.

What is called integration test in this project should be coined with functional test. You can find other examples on the setup of Test

[2017-05-05 12:18] bmuschko opened #81 "Upgrade to project to use latest Gradle version"
- Upgrade to latest Gradle version to benefit from new features and performance improvements
- Make changes to build code as required
- Fix all deprecations

[2017-05-05 12:35] bmuschko commented on #76
@Alex-Vol-SV The 2.x in version of the plugin does not necessarily indicate Gradle 2.x compatibility. Be my guest if you want to keep things in sync on two different branches but please be aware that it will mean a significant amount of additional work. I personally would not go for it.

[2017-05-05 12:37] bmuschko opened #82 "Use different CI solution"
[SnapCI is going to shut down](https://blog.snap-ci.com/blog/2017/02/06/2017-02-06-snap-announcement/) in August 2017. Find a different, free CI product optimally with support for modeling pipelines. So far I used [Snap CI to continuous build this project](https://app.snap-ci.com/bmuschko/gradle-clover-plugin/branch/master).

[2017-05-05 15:13] Alex-Vol-SV commented on #80
Thank you for the suggestion @bmuschko
I will use your Docker plugin for examples, I want to become more familiar with the TestKit in general so this is a very good excuse to do so.

[2017-05-07 15:26] #62 closed

[2017-05-07 15:36] Alex-Vol-SV commented on #66
Yes @ToYonos I plan to merge a few additional fixes that are ready and will do so in a timely manner. I just started working on this project and I am still learning the process.

[2017-05-07 15:36] Alex-Vol-SV commented on #66
Merged pull request to master.

[2017-05-07 15:36] #66 closed

[2017-05-07 16:03] Alex-Vol-SV commented on #76
I will follow you very thoughtful advice @bmuschko and will simply drop support for Gradle 2.x. I would prefer it if we released one new version that is still Gradle 2.x capable with the current set of fixes we have in the pipeline.

[2017-05-07 16:18] Alex-Vol-SV commented on #82
I did some research on this and TravisCI seems like a candidate. I have seen it used effectively on other open source projects. It will be a bit of a learning for me but I am open to do that. What do you suggest as the next steps @bmuschko ?

Perhaps I sign up for a free account and try it out is what I think.

[2017-05-07 16:19] Alex-Vol-SV commented on #59
Merged to master, pending release.

[2017-05-07 16:19] #59 closed

[2017-05-07 16:30] Alex-Vol-SV opened #83 "Update plugin to support openclover and clover 4.x"
The main difference in the 3.x and 4.x clover is that the cloverjunitlib.xml Ant task definition has been merged into cloverlib.xml. Fixing this for clover 3 and clover 4 is actually fairly easy by detecting the version of clover in the clover configuration dependency and adjusting the ant.taskdef() call.

[2017-05-07 18:27] Alex-Vol commented on #51
I believe this can be closed when I finish merging PR#53. I will look at the demo and see if it could be turned into a simple integration test to cover this issue as well.

[2017-05-07 20:09] Alex-Vol-SV commented on #82
I noticed that you have a Gitlab CI configuration in your docker plugin @bmuschko - is Gitlab CI a good choice? It seems capable enough to me. Although there is the configuration Yaml in the docker plugin repository the Snap CI is still in use. Are there issues you have encountered with Gitlab CI?

[2017-05-07 20:23] Alex-Vol-SV commented on #80
I am impressed with the clarity and structure of your tests in the Docker plugin @bmuschko - I think I will borrow much of your build logic when I get to this task. I am excited at the opportunity to make this change.

[2017-05-07 21:12] bmuschko commented on #82
Travis CI will probably work. Unfortunately, Travis doesn't allow for declaring pipelines and manual steps for deployment/publishing. Gitlab CI does provide it. I played around with it in the Docker plugin but there are also some shortcoming e.g. I didn't find a good way to let somebody else view the pipeline, there's no good way to expose a badge etc. The Docker plugin is mostly maintained by som

[2017-05-07 21:17] bmuschko commented on #76
@Alex-Vol-SV Sure, we can do that. Let me know when you are ready.

[2017-05-08 02:08] Alex-Vol commented on #11
I merged the PR#78 and added integration tests. I believe this can be closed now as fixed.

[2017-05-08 02:08] #11 closed

[2017-05-08 02:09] Alex-Vol commented on #51
Merged the PR and added integration tests

[2017-05-08 02:09] #51 closed

[2017-05-08 02:22] Alex-Vol commented on #61
This was fixed with the pending PR#84. I will merge it soon when @bmuschko approves the changes.

[2017-05-08 19:27] Alex-Vol commented on #77
There is a working example in the github source code from this plugin. It is trivial but has all functional elements you would need to make yours work.

I understand that by now you probably solved this problem but I am entering this here as an answer so I can close this issue.
[Java mutliproject example](https://github.com/bmuschko/gradle-clover-plugin/tree/master/src/integTest/projects/java-mult

[2017-05-08 19:27] #77 closed

[2017-05-08 23:23] Alex-Vol commented on #61
Fixed with [PR#84](https://github.com/bmuschko/gradle-clover-plugin/pull/84)

[2017-05-08 23:23] #61 closed

[2017-05-09 01:48] bmuschko commented on #82
For now I set up Travis CI and added a build badge on the README file. We can look into other options as needed.

[2017-05-09 01:48] #82 closed

[2017-05-09 03:14] Alex-Vol commented on #82
Thanks @bmuschko for putting this on Travis. I have not yet found an alternative that does as good a job as SnapCI did. The few days of interaction I had with SnapCI and the new Travis build give me a good idea why you were looking for something with the features provided by SnapCI.

[2017-05-09 03:43] Alex-Vol commented on #83
Fixed. Now we build and test with the new Open Clover 4.2.0

Also updated the build framework to Gradle 2.14.1

[2017-05-09 03:43] #83 closed

[2017-05-09 06:01] Alex-Vol commented on #81
I tried building with Gradle 3.5 and everything just worked. This may be completed after all. I will run with this for a bit and try it on a project to see if anything comes up.

[2017-05-09 06:21] Alex-Vol commented on #69
I am unable to reproduce the issue as stated here. In fact when I added this new integration test a few days ago I put Spock test in it with a name ending in Spec.groovy. See how I specified the testIncludes in this source example: [Spock test Ant Glob](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/integTest/projects/java-groovy-project-debug-enabled/build.gradle#L29)

[2017-05-09 06:21] #69 closed

[2017-05-10 00:59] Alex-Vol commented on #42
The new pull request never came. I reviewed the original pull request and feel strongly that the feature is worth adding. If I can manage to make a new implementation for the upcoming 2.1 release I will pull this change in.

[2017-05-10 01:07] Alex-Vol commented on #32
I agree with @phasebash regarding this use case. I am closing this issue as I believe it does not represent a reasonable use case.

[2017-05-10 01:07] #32 closed

[2017-05-10 01:08] Alex-Vol commented on #54
Not an issue related to this plugin. Closing.

[2017-05-10 01:08] #54 closed

[2017-05-10 01:12] Alex-Vol commented on #72
This is user error. In a project such as this one I would not have used the absolute path specified in this build.gradle. Instead it seems to me the correct configuration would have been this one.
[code]

[2017-05-10 01:12] #72 closed

[2017-05-10 01:17] Alex-Vol commented on #75
I will look for an example grails app to test this with. I do not happen to have one yet. It feels as if this is another instance of the additionalSourceDirs problem which was recently fixed.

[2017-05-10 01:19] Alex-Vol commented on #79
If the Gradle core supports JUnit5 we can revisit this at that time. I do not feel strongly about working on this.

[2017-05-10 02:15] Alex-Vol commented on #76
I updated the build scripts and all integration tests as needed and everything is passing. No source code issues or deprecations have been encountered.

I found nowhere in the source of this plugin where Test.testSrcDirs

Is this issue a real issue for the Gradle 3.x update? It would seem that it is not related to this plugin from what I can tell so far.

[2017-05-10 03:03] Alex-Vol commented on #65
There was a minor issue with clover-optimize in the plugin which is now fixed for Clover 4.x. Also, the plugin is now building against openclover latest version.

[2017-05-13 19:49] Alex-Vol commented on #76
Tested and verified with latest master. Gradle 3.5 works with all integration tests. No deprecations and no errors.

[2017-05-13 19:49] #76 closed

[2017-05-13 19:50] Alex-Vol commented on #81
Tested and verified with latest master. Gradle 3.5 works with all integration tests. No deprecations and no errors.

[2017-05-13 19:50] #81 closed

[2017-05-13 21:46] Alex-Vol commented on #42
Implemented feature

[2017-05-13 21:46] #42 closed

[2017-05-15 17:19] Alex-Vol opened #85 "licenseLocation is enforced even when using OpenClover"
The plugin enforces a default location "$projectDir/clover.license" to be an existing file even when using OpenClover. With the introduction of OpenClover the licenseLocation should not assume a default location but  instead have no assigned value. If a value is assigned we should validate it is an existing file otherwise do nothing.
[code]

[2017-05-15 17:20] Alex-Vol commented on #85
This workaround exists to alleviate the issue since OpenClover does not expect or need an actual license file
[code]

[2017-05-20 20:00] Alex-Vol commented on #85
Fixed, will be part of the 2.1.1 milestone

[2017-05-20 20:00] #85 closed

[2017-05-21 23:17] Alex-Vol commented on #43
The pending milestone release of 2.1.1 will address this issue.

[2017-05-24 11:01] SergioPadilla commented on #75
Hello!

I have the same issue.

`$ ./gradlew test cloverGenerateReport
:compileJava UP-TO-DATE
:compileGroovy UP-TO-DATE
:generateGitProperties UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:compileTestJava UP-TO-DATE
:compileTestGroovy UP-TO-DATE
:processTestResources UP-TO-DATE
:testClasses UP-TO-DATE
:test UP-TO-DATE
:cloverAggregateDatabases
:cloverGenerateReport

BUILD SUCCESSFU

[2017-05-24 16:12] Alex-Vol-SV commented on #75
Do you have a simple Grails application that I can use to reproduce this issue? I have not been able to find a simple one to test with.

Thanks

[2017-05-31 11:45] SergioPadilla commented on #75
Hello, thank you for your response, currently I don't have a grails application open source, but I think that the problem is with the configuration. I think that the sourceDirs by default is not correct, and it doesn't looking for into grails-app directory or something like this.

I'm trying to set some properties like *includes* and *additionalSourceSets* but I get some errors. I'm going to share

[2017-05-31 15:50] Alex-Vol-SV commented on #75
You are providing an incomplete source set definition.

The example in the [README.md](https://github.com/bmuschko/gradle-clover-plugin/blob/master/README.md) using the closure syntax would be like this:

[code]

[2017-06-07 06:31] dlehammer commented on #75
Hi,

As encouraged by @Alex-Vol-SV, I've attempted to create a small vanilla Grails 3 (v3.2.0) [project](https://github.com/dlehammer/gradle-clover-plugin-issue-75), and added gradle-clover-plugin v2.1.0 (OpenClover v4.2.0) configuration based on available plugin-documentation.
(please note that Spock is the default test-framework for Grails)

The [project](https://github.com/dlehammer/gradle-clov

[2017-06-07 14:28] Alex-Vol-SV commented on #75
Thanks for the demonstration. I did something very similar using one of the working Grails examples and saw a very similar output. My observation is that the way Grails invokes the Java/Groovy compilers seems to bypass the injection of the Clover actions for instrumentation. As a result the code is not instrumented and it does not produce coverage. There may be a way to make the Clover plugin Grai

[2017-06-09 13:56] sdelamo commented on #75
One workaround that I found is to apply the Groovy plugin directly:

`apply plugin: 'groovy'`

doing so the Groovy Compiler I can generate reports with Clover and Grails 3

[2017-06-12 14:05] dlehammer commented on #75
@sdelamo, I've tried applying the workaround you suggested to the Grails 3 project exhibiting the symptom, see branch [sdelamo_apply_plugin_groovy](https://github.com/dlehammer/gradle-clover-plugin-issue-75/tree/sdelamo_apply_plugin_groovy).
The result is currently a build failure, regardless of the groovy plugin being the first or last applied plugin.
As far as I can tell, the problem is task ove

[2017-06-12 15:28] Alex-Vol-SV commented on #75
I believe I understand this issue much better at this point. Grails plugin will need to be directly supported by the Clover plugin to get this working. The Clover plugin adds actions to the Groovy plugin's tasks to perform the instrument with Clover operations. Since the Grails plugin adds or replaces the Groovy plugin's tasks with Grails specific variants we will have to add conditional code to t

[2017-06-12 16:56] Alex-Vol-SV commented on #75
Luckily this is not going to be a big issue. I was able to make a small targeted change and got the desired results.

The code is currently in the [fix-issue-75-grails-code-coverage branch](https://github.com/bmuschko/gradle-clover-plugin/tree/fix-issue-75-grails-code-coverage) of this repository pending creation of integration tests. I will work out the proper integration tests and make it part o

[2017-06-12 17:29] Alex-Vol-SV commented on #75
@dlehammer I believe the workaround suggested by @sdelamo may still work if the groovy plugin is applied before the grails plugins are applied. The Grails plugins seem to have defensive code that would allow for this configuration. But YMMV since from my brief code review of the Grails Gradle plugins they are intended to replace the Groovy plugin instead of existing side by side.

As noted above I

[2017-06-13 07:56] dlehammer commented on #75
@Alex-Vol-SV wrote

@dlehammer wrote

In the branch [sdelamo_apply_plugin_groovy](https://github.com/dlehammer/gradle-clover-plugin-issue-75/tree/sdelamo_apply_plugin_groovy) the `groovy` plugin is the first applied :-)
I suspect this may cause different results for newer versions of Grails 3, @sdelamo which Grails version have you confirmed the work-around?

@Alex-Vol-SV, I'm looking forward to v

[2017-06-13 14:29] Alex-Vol-SV commented on #75
@dlehammer I will do my best to make the remaining changes this weekend so we can have a new release soon. I cannot promise it will happen, I do have personal and paying job commitments that trump the volunteer work I do for this project.

The branch I pushed to this repo has the working code sans the required integration tests but I did prove to myself sufficiently that the changes recover the mi

[2017-06-13 16:19] sdelamo commented on #75
I've  used successfully the plugin with Clover and Grails 3.2.10 and Grail 3.3.0.M2
I had an issue with integration tests which I will report differently.

[2017-06-13 17:31] Alex-Vol-SV commented on #75
I suspect the integration tests issue might be possible to address when we put together this potential fix with another pending fix I just finished. We will now have the option to leave Clover instrumented code in place to support use cases such as the integration tests. This would allow creation of instrumented JAR files for more involved use cases but it could also be the mechanism that allows i

[2017-06-13 18:47] cfaddict opened #87 "Grails 3 Project"
I am trying to use this plugin in a Grails 3 project. These are some of the bits from my build.gradle

[code]
`apply plugin: 'com.bmuschko.clover'`

[code]

[code]

If I refresh my gradle project I only see a task called cloverAggregateDatabases. If I run that task it looks like it ran but nothing happens.

[code]

I try and manually run gradle cloverGenerateReport but again it doesn't seem that l

[2017-06-13 21:21] Alex-Vol-SV commented on #87
This is currently not working for Grails 3. The issue has been identified and will be fixed soon in milestone 2.1.1.

There is a branch with a preliminary change that corrects the problem. See comments in #75

[2017-06-14 14:11] cfaddict commented on #87
Awesome! Thank you so much Alex for the reply. Appreciate it!

[2017-06-17 22:53] Alex-Vol-SV commented on #87
Duplicate of #75

[2017-06-17 22:53] #87 closed

[2017-06-24 17:31] piotrgajow commented on #75
Hi! Could you please describe briefly how to use fixed version of the plugin from the branch `fix-issue-75-grails-code-coverage` in a grails project?

[2017-06-25 17:39] Alex-Vol-SV commented on #75
You would need to do a locally hosted build of the plugin from that branch. Nothing changes in the way the plugin works. It just recognizes the Grails plugins which act as surrogates for the Groovy build plugin.
You would need to publish the plugin locally and reference it using a private build version.

I have been busy with day job and family to finish the integration. I hope to put some time on

[2017-06-25 18:02] piotrgajow commented on #75
That would be great!
Thank you

[2017-06-26 02:09] Alex-Vol-SV commented on #52
Partial support for doing this is pending release in milestone v2.1.1

The instrumented code can be packaged in JAR within EAR/WAR files that are used in integration tests. The way this would be done is outside the scope of the Clover plugin. It would involve making the integration test pass to the embedded servlet container the system property `-Dclover.initstring=/path/to/clover.db` and making s

[2017-06-26 12:38] sgates commented on #75
Cool thanks Alex, looking forward to it!

[2017-06-27 23:26] #5 closed

[2017-06-27 23:26] #33 closed

[2017-06-27 23:26] #52 closed

[2017-06-27 23:26] #75 closed

[2017-06-28 19:39] piotrgajow commented on #59
I think this issue was reintroduced in v2.1.1, as I got an error:

    FAILURE: Build failed with an exception.

    * What went wrong:
    Execution failed for task ':test'.

Which can befixed by adding

        compile 'org.codehaus.groovy:groovy-all:2.4.7'

in `build.gradle`.

[2017-06-29 04:15] Alex-Vol commented on #59
What Gradle version are you using?

[2017-06-29 04:29] Alex-Vol commented on #59
I tried Gradle 3.5 and Gradle 2.4 with the integration test java-project-groovy-tests that is used to confirm this issue is fixed and it worked with both versions. The project is in the source tree if you want to try as well. I need more information about your specific environment and versions.

[2017-06-29 07:29] piotrgajow commented on #59
I am using gradle in a grails project with this versions:

    ------------------------------------------------------------
    Gradle 3.5
    ------------------------------------------------------------

    Build time:   2017-04-10 13:37:25 UTC
    Revision:     b762622a185d59ce0cfc9cbc6ab5dd22469e18a6

    Groovy:       2.4.10
    Ant:          Apache Ant(TM) version 1.9.6 compiled on June 29 2

[2017-06-29 11:38] sdelamo commented on #59
I needed to add in Grails 3.3.0.RC! project the dependency:
`compile "org.codehaus.groovy:groovy-all:$groovyVersion"`

Thanks for fixing the compatibility with Grails 3 @Alex-Vol Really appreciated!

[2017-06-29 13:05] dlehammer commented on #75
@Alex-Vol-SV congratulations with the v2.1.1 release!
I've verified the fix and updated the symptom [project ](https://github.com/dlehammer/gradle-clover-plugin-issue-75) accordingly.

[code]
Resulting reports...
![gradle-clover-plugin-issue-75_fix_applied_reports](https://user-images.githubusercontent.com/17439718/27688737-fcef7f04-5cdb-11e7-987b-cae1be79b083.png)

Only hiccup is:

Is this a conf

[2017-06-29 16:04] Alex-Vol commented on #59
I am going to look into why Grails invocation causes this. It is quite possibly another manifestation of #59 or similar. If I can reproduce with my Grails 3 test project I can make a quick fix.

I will open an issue for this.

[2017-06-29 16:08] Alex-Vol opened #89 "Grails 3 project fails to find Groovyc class"
Similar to the older issue #59 a Grails 3 project requires the addition of groovy compile dependency to compile Groovy tests.
[code]

Current workaround is:
[code]
or
[code]

where 2.4.7 is an appropriate groovy version for your project and `provided` has to be a correct and available configuration scope for your project. I believe Grails defines a `provided` configuration scope.

[2017-06-29 16:16] Alex-Vol commented on #75
Yes, this is a known Clover issue with tests using the newer JUnit rules facilities. The configuration supports this correctly if you set the clover closure properties `testResultsDir` and `testResultsInclude` as seen in the grails project used for integration tests.
[build.gradle testResults settings](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/integTest/projects/grails-proje

[2017-06-30 12:48] dlehammer commented on #75
@Alex-Vol thanks for replying, , the suggested `clover.report` [block](https://github.com/dlehammer/gradle-clover-plugin-issue-75/blob/b9e4b5203d38257fb3906cde5a04e3c472214d48/build.gradle#L130) was already identical to your example, the [fix](https://github.com/dlehammer/gradle-clover-plugin-issue-75/commit/75e9cb833452c003a7d16145fa8a2807371cb42c) was changing the `clover.testIncludes ` value :-

[2017-06-30 17:50] Alex-Vol commented on #75
Perhaps it is time to add a default **/*Spec.groovy to the plugin testIncludes. It is using **/*Test.groovy for the default. I will add a feature request to make it have both so it is backwards compatible.

[2017-06-30 17:52] Alex-Vol opened #90 "Add **/*Spec.groovy to default clover.testIncludes"
The default testIncludes when Grails or Groovy plugins are detected is **/*Test.groovy. We should add **/*Spec.groovy to match the naming convention adopted by many. Then we keep the spirit of reasonable defaults that Gradle drives for.

[2017-07-02 19:56] Alex-Vol commented on #59
After spending some time looking at this issue it seems that currently it works as designed. We expect to find the Groovyc class in the compile classpath when compiling Groovy tests.   This may be a side-effect of the way Grails compiles Groovy code, perhaps using the build it Gradle Groovy compile task.

This is a new issue unrelated to the original java project with groovy tests issue, that was

[2017-07-04 12:15] piotrgajow opened #91 "Support for Gradle 4.x for Clover plugin"
I am running grails 3 project with only groovy source code.

After adding and configuring `gradle-clover-plugin` the `test` gradle task fails with message

    Directory does not exist: (...)\build\classes\java\main

As I have no *.java source files in the project, this directory is not created during gradle build. Only `\build\classes\groovy\main` is present.

As a workaround I can create an empt

[2017-07-04 14:57] Alex-Vol commented on #91
This is caused by running Grails with Gradle 4. As far as I know Grails 3 does not yet support Gradle 4 and this plug in has not been converted to support gradle 4.It may take some time before I can fix all the issues that were caused by the changes in Gradle 4.

[2017-07-04 19:05] piotrgajow commented on #91
Correct.
I have tested it on another computer with Gradle 3.5 and the problem does not exist.

Thank you for help!

[2017-07-05 11:37] piotrgajow opened #92 "Tests fail due to differences in polish characters"
After adding Clover to the project all of my tests where I use polish diacritic characters started failing.

E.g. test case

    void 'Should throw exception when user not found'() {
        when:
        service.getUser(19999L)

        then:
        def ex = thrown DomainException

        and:
        ex.message == 'Nie znaleziono takiego użytkownika'
    }

Fails with:

    Condition not satis

[2017-07-06 18:52] Alex-Vol commented on #92
This is a bug. Clover supports specifying the source file encoding but we only supply the encoding to the compiler tasks and not the clover-setup tasks. I can make a fix for that easily I think. I will have to add some UTF-8 encoded characters in my integration tests.

[2017-07-06 21:17] Alex-Vol commented on #92
It seems the clover-setup interface we use in this plugin to instrument the code does not support the encoding attribute. clover-instr Ant task does this but we are not using it this way. This may take a bit longer than I hoped to get fixed.

[2017-07-06 21:48] Alex-Vol commented on #92
According to documentation for Clover the build will use the default platform encoding if not specified by parameters. Perhaps you can try setting the default JVM encoding to UTF-8 and test again.

You would need to do this at the JVM parameters used to start Gradle. You can add such parameters to your gradle.properties in the project like this.

[code]

[2017-07-07 11:27] piotrgajow commented on #92
Adding this setting in `gradle.properties` did not help.

Without Clover everything works fine, including loading files from the file system, so I guess it should not be JVM settings issue?

[2017-07-07 16:51] Alex-Vol opened #93 "Support columns detail for Clover reports"
The clover-report has the columns element to specify additional columns to display. We have no way to specify this in the Gradle plugin today.

[2017-07-07 16:54] Alex-Vol commented on #92
Well, I was hoping what the documentation specified would apply. It is possible the JVM setting did not have an effect the way I understood it from the Clover documentation. I am afraid this will not be a quick fix since it may require significant changes to support. Unless I find a workaround soon it will be some time before I can make these changes.

[2017-07-07 17:00] Alex-Vol commented on #92
By the way, I was unable to reproduce this issue on a Linux build machine. Are you building this on Windows @piotrgajow ? That may help me better understand why the suggested workaround did not have an effect.

[2017-07-07 22:35] Alex-Vol-SV commented on #92
After I spent some time researching Clover implementation I cannot find an option that would correct this behavior. I am becoming convinced that this is a bug in Clover's implementation of code instrumentation. If they used a file stream that does not have the proper encoding set and have no way of specifying the encoding the transformation of the source code during the build to prepare for compil

[2017-07-07 23:09] Alex-Vol-SV commented on #92
It seems we are in luck. There is an undocumented encoding option for clover-setup. I am not sure how that was missed in the Clover documents. I found it in the Clover source code which is just plain obvious when I look at it.

I am preparing a proper integration test for this case to prove it is fixed and will try to get a new milestone build out.

[2017-07-07 23:12] piotrgajow commented on #92
Good to hear this!
Yes I am currently working on Windows (10 & 8.1).

[2017-07-07 23:12] Alex-Vol-SV commented on #89
The use of Groovy in this plugin is designed to work with Groovy in the compile classpath. I can attempt adding Gradle internal Groovy libraries in the classpath when invoking the Groovyc compiler but I am concerned this might inject improper dependency to Groovy in the code under test.

The current workaround to add groovy-all in `compile` or `provided` configuration may be an acceptable one if t

[2017-07-09 01:19] Alex-Vol-SV commented on #92
@piotrgajow I have attempted to fix the issue with the undocumented `encoding` option and it does not seem to work. It may be a bug in Clover after all. However, during the testing process I found a way to work around the issue until I get it fixed. Adding this to your environment seems to have the desired effect and corrects the problem in my tests.
[code]
Please try this and let me know if you g

[2017-07-09 01:22] Alex-Vol-SV commented on #92
From my investigation I came to the conclusion that the issue exists between Groovy tests and Java production code. The Clover instrumentation process seems to obey the encoding selection for Java but not so for Groovy, the result is that the instrumented code in Java gives the unmodified string results and Groovy tests verify with altered/corrupted strings.

[2017-07-09 03:49] Alex-Vol-SV commented on #92
I was able to fix the issue @piotrgajow without the need to have major rework. As it happens there were a couple of places other then the clover-setup where we had neglected to specify the encoding. With the changes in the new branch I created just now the code works as expected. I will try to wrap this up in a new 2.1.2 release this week.

[2017-07-10 11:10] piotrgajow commented on #92
Great!

I have also tested the `set GRADLE_OPTS=-Dfile.encoding=UTF-8` option and it works.

[2017-07-10 15:11] Alex-Vol commented on #92
Great, thanks for testing the workaround. The fix has been merged to master branch and will be posted as soon as possible.

[2017-07-12 03:46] Alex-Vol commented on #93
Fixed in 2.1.2

[2017-07-12 03:46] #93 closed

[2017-07-12 03:46] Alex-Vol commented on #92
Fixed in 2.1.2

[2017-07-12 03:46] #92 closed

[2017-07-12 03:47] Alex-Vol commented on #90
Fixed in 2.1.2

[2017-07-12 03:47] #90 closed

[2017-07-12 12:27] piotrgajow commented on #92
Confirmed. Everything works fine.
Thanks!

[2017-07-14 18:20] Alex-Vol opened #94 "Plugin version 2.1.2 does not work with Gradle 2.x"
Some Gradle internal API references caused the plugin to fail when used with Gradle 2.x. This was an oversight and bad practice on my part. I plan to correct it in milestone 2.1.3.

[2017-07-19 16:13] jlstrater opened #95 "Problems with Static Compilation in a Grails MultiProject Build"
I have been trying to add this Gradle Clover Plugin to our Grails project.  It's setup as a multi-project build so I had to tweak it a bit from @sdelamo 's [Grails Guide](http://guides.grails.org/grails-code-coverage/guide/index.html).

Our clover.gradle file looks like this:

[code]

As written, the build script applies the clover plugin which attempts to recompile the project.  It does so using

[2017-07-19 20:48] Alex-Vol commented on #95
The plugin invokes the Groovyc Ant task on the main source set and test source set by attaching an InstrumentCodeAction to the Test tasks. We do not specify any options to the Groovyc compiler that would alter the way it gets the compilation done. I am not sure why you have this issue or what I can do to alter the compilation. I would need an example to figure this out.

Can you produce a minimal

[2017-07-20 16:48] Alex-Vol commented on #95
Can you show the kinds of error output you get from your project with Clover enabled @jlstrater ? I am curious how this failure manifests itself. Wondering if you are hitting a limitation of Clover itself with respect to Groovy instrumentation.

[2017-07-21 06:22] sdelamo commented on #95
maybe completely unrelated @jlstrater but if I was getting errors if using @GrailsCompileStatic annotation.

[2017-07-21 07:32] jlstrater commented on #95
Thanks, everyone. I'm going to try to create an example project (hopefully over the weekend) to see if I can replicate the issue or if it's something for this specific project.

[2017-07-24 04:02] Alex-Vol opened #96 "Automate release process following gradle-docker-plugin scheme"
@bmuschko I read the solution you and the team of contributors came up with at https://github.com/bmuschko/gradle-docker-plugin/pull/402 and I find it is a fitting solution to use for this plugin. If it is OK with you I would like to make the changes to this plugin to follow the same procedure for releases.

Let me know if that is a solution you approve. I will make a PR with the solution sometime

[2017-07-24 12:19] bmuschko commented on #96
That approach sounds good to me. I didn't propose it yet as I wanted to see first whether we run into any issues with the Docker plugin. Looks to me as it works smoothly now. Feel free to adapt the approach. Then you can publish releases yourself. :-)

[2017-07-24 14:33] Alex-Vol commented on #96
OK, I will work on both and see about getting TestKit functional tests in the process.

Yes, I opened an issue for Gradle 4 compatibility which has been identified by a user.

[2017-07-27 14:10] bkchithra1 opened #97 "Steps for generating instrumented war using gradle clover plugin"
Hi ,

I am gradle clover plug to in to instrument the source coed and .I am able to instrument the classes successfully and got the coverage report.
I wanted to build the war from instrumented classes and deploy the war ,have to collect the coverage.

Is it possible to do?

Could you please help?

Thanks,
Chithra

[2017-07-28 20:06] Alex-Vol commented on #97
Support for creating JAR/WAR files with instrumented code has been added as explained here: [Project Properties](https://github.com/bmuschko/gradle-clover-plugin/blob/master/README.md#project-properties)

This should be used in conjunction with code that sets up an integration test that uses the instrumented WAR file perhaps with GRetty plugin to run and collect coverage. The property `cloverInstr

[2017-08-03 07:06] bkchithra1 commented on #97
Thanks Alex.It worked

[2017-08-18 14:38] jlstrater commented on #95
Ok. So it looks like this was an issue with Clover itself as reported in https://jira.atlassian.com/browse/CLOV-1863 The files that were failing were regular groovy files (not in the grails-app) specifically marked with `@CompileStatic` and were failing exactly as described.

[2017-08-18 14:38] #95 closed

[2017-08-18 23:48] Alex-Vol commented on #95
Thank you for reporting on the resolution of this problem @jlstrater it helps raise awareness of the issue.

[2017-08-22 12:04] prestontim opened #98 "Make compilerArgs configurable"
I received a report from a developer in my company that's encountering an issue while attempting to write some unit tests for a Spring Boot app. The test in question is attempting to exercise some code that's utilizing the @PreAuthorize annotation and is getting the following message:

`Unable to resolve method parameter names for method: public java.lang.String com.example.api.TestApi.get(java.la

[2017-08-23 01:58] Alex-Vol commented on #98
Thank you for the report and the sample app. I will take a look at this soon. Since you already have a possible solution I can look into extending the DSL to have a `compilerArgs` option that can contain the raw additional arguments that make this work. Seems that there are more nuances to the reflection based application frameworks that must be cared for.

[2017-08-28 18:50] fbazbo opened #99 "compileOnly dependencies aren't properly added to classpath when using clover"
I had a working project that integrated clover and notice that when I change some of the dependencies to compileOnly, the compile fails.  Removing the clover integration or reverting the compileOnly will make it work, but it would be nice to have both rather than one or the other!

[2017-08-28 21:14] Alex-Vol commented on #99
compileOnly is a Gradle 4.x feature. We have not made this compatible with the new Gradle 4.x features yet.

[2017-08-29 00:24] fbazbo commented on #99
OK, thanks... it was driving me crazy since some projects were working and other's weren't...

[2017-08-29 21:01] Alex-Vol commented on #99
I will try to unravel the new way dependencies work and see how it intersects with this plugin. Perhaps all I need to do is detect the new configurations and if present add them to the classpath. We use the Ant tasks from Clover to compile so the classpath needs to be configured explicitly.

[2017-08-30 16:50] fbazbo commented on #99
According to this -
https://blog.gradle.org/introducing-compile-only-dependencies, you should
now be using compileClasspath property for the sourceset instead of the
compile property to get all the relevant classpath references...

On Tue, Aug 29, 2017 at 2:01 PM, Alex-Vol <notifications@github.com> wrote:

[2017-09-05 21:08] TomUdr commented on #91
Hi, I would like to push this Feature Request further. I think the problem is as stated in issue title, clover does not support gradle 4.1.

If I run gradle project with clover, the following message appears:
`Gradle now uses separate output directories for each JVM language, but this build assumes a single directory for all classes from a source set. This behaviour has been deprecated and is sche

[2017-09-05 22:57] Alex-Vol commented on #91
I fully understand how this would affect you, but I have not had time to get back to this. Day job commitments and life take over. To solve this correctly first we need to capture the difference between sources that get compiled as java/groovy mixed together in a src/main/groovy directory outputting both into classes/groovy and sources separated in src/main/java side by side with src/main/groovy o

[2017-09-13 05:50] TomUdr commented on #91
Awesome! Thanks for the reply.

[2017-09-15 15:35] PabloThiele opened #100 "Add support for the new Sonar Gradle runner plugin"
Hi, since the actual valid plugin to send configuration to SonarQube is this one : https://plugins.gradle.org/plugin/org.sonarqube

The actual documentation is outdated.

I tried to follow the instructions and some workarounds and no one had success.

I'm using the:
classpath 'com.bmuschko:gradle-clover-plugin:2.1.2'
id "org.sonarqube" version "2.5"
SonarQube 5.6 LTS

[2017-09-17 00:38] Alex-Vol commented on #100
I will attempt to see if this can still be integrated. I did not have luck when I read the new plugin information. But I did not spend too much time. If I can perform the setup I will write a new page for the settings necessary.

[2017-09-17 14:18] thetric commented on #99
@fbazbo The new version 2.1.3 works with Gradle 4.1

@Alex-Vol-SV Thank you for your fix! I was facing the same problem. When will the latest version be available on plugins.gradle.org?

[2017-09-18 01:29] Alex-Vol commented on #99
I requested from Ben Muschko to publish the new version on Bintray and the plugins.gradle.org. He is busy so it may take a day to happen. Thanks for the feedback.

There is still some work to be fully 4.x compatible. In order for that to happen I may have to break compatibility with earlier versions though. I will probably bump the major version of the plugin when this happens.

[2017-09-18 01:29] #99 closed

[2017-09-18 01:30] #89 closed

[2017-09-18 01:30] #94 closed

[2017-09-18 01:30] #98 closed

[2017-09-21 06:50] ravichandrakn opened #101 "cloverAggregateDatabases is not working"
HI, I have project, which contains multiple sub-projects, each sub-project has source set and test set, clover is able to instrument classes with individual sub-project and generate code coverage within the same sub-project, problem here is my 90% test cases i have written in one particular sub-project, gradle is having reference to other sub-projects. While generating code coverage for whole proj

[2017-09-21 06:52] ravichandrakn commented on #101
example:

project {
  project A {
    source set
    test set(having minimal tests)
  }
  project B {
    source set
    test set(having minimal tests)
  }
  project C {
    source set
    test set(maxinum test cases resides here)
  }
}

[2017-09-23 04:49] Alex-Vol-SV commented on #101
The `cloverAggregateReports` task is used to correctly merge and report on multi-project configurations. However, you are looking for indirect code coverage which may not work because of the way the plugin instruments the code just in time to run unit tests. One option that may give you better results is to try passing the property `-PcloverInstrumentedJar=true` on the command line. This will allo

[2017-09-23 04:51] Alex-Vol-SV commented on #101
For what it is worth, in my experiments the `cloverAggregateReports` task correctly shows multiple databases getting merged and the aggregate report shows all relevant coverage from each project in one report.

[2017-10-02 19:03] fbazbo opened #102 "Get java.lang.NoClassDefFoundError: com_atlassian_clover/TestNameSniffer when using a compile project reference"
I have a multi-project where one of the subprojects depends on another.  Initially, I had the dependency defined like:

`compile project(":otherProject")`

but then I would get the java.lang.NoClassDefFoundError: com_atlassian_clover/TestNameSniffer for the first reference to a class in the independent project.  When I changed it to a straight repo dependency it worked fine:

`compile "com.mycompa

[2017-10-02 22:18] Alex-Vol-SV commented on #102
Not sure how you get this. I have used project references which is the only way to make proper references to related projects in a multiproject configuration and have not had issues with running clover. Can you provide more details on your Gradle multi-project configuration?

[2017-10-02 22:23] Alex-Vol-SV commented on #102
The functional test example in this repository in this location uses compile project references and successfully performs clover.

[java-multi-project-with-ear](https://github.com/bmuschko/gradle-clover-plugin/tree/master/src/integTest/projects/java-multi-project-with-ear)

[2017-10-03 04:36] Alex-Vol commented on #102
Did you apply the clover plugin to all your projects including the root project? This almost seems like a mismatch between code compiled with clover and the clover library not being a dependency. Did you add the clover library dependency in the clover configuration in each project?

[2017-10-03 17:00] fbazbo commented on #102
I have the plugin specified in the root project buildscript and applied in allprojects with the clover dependency specified and configured there also.  Oddly this seems to be working now.  Must have been some cruft in some cache somewhere that was causing issue

[2017-10-03 17:23] Alex-Vol commented on #102
Closing as "not a bug"

[2017-10-03 17:23] #102 closed

[2017-10-03 17:26] Alex-Vol commented on #101
I do not consider testing indirectly or in a different module from the one the code is building from a good practice. This works as intended when direct testing is applied which always gives the best kind of coverage. I am closing as "won't fix" since I find this is not a desirable feature.

[2017-10-03 17:26] #101 closed

[2017-10-20 13:20] hmalewska opened #103 "clover conflict with wiremock"
When I run ```./gradlew build``` then clover is running as well and I can see that 1 test is failed because of ```com.github.tomakehurst.wiremock.common.FatalStartupException: java.lang.RuntimeException: java.net.BindException: Address already in use```

Does exist any workaround for that (probably wiremock and clover use the same port each time)?

[2017-10-20 17:28] Alex-Vol commented on #103
I am not aware of any ports used by Clover. This is news to me.

You can have clover configured but disabled by adding this additional code in the clover closure

build.gradle
[code]

Then you can use `./gradlew build -PcloverOn` to run with clover enabled.

[2017-10-20 17:28] #103 closed

[2017-10-31 12:26] alfrye opened #104 "Error running cloveraggregateReports"
I have a gradle multi project java project and when run cloverAggregateReports I am getting the following messsage:
"Task 'cloverAggregateReports' not found in root project '"

Do I need to specify the task in my root project?

The plugin is creating a reports for each of my subprojects but I would like an aggregate report.
I have this setup in my build.gradle

`allprojects {
 	apply plugin: "com.

[2017-10-31 18:38] Alex-Vol commented on #104
I suspect the plugin was not properly applied or configured on the root project. Although you seem to use the allprojects iteration to apply it. It works fine on all my projects when I apply it correctly.

Are you specifying the allprojects iteration in the root project's build.gradle?

[2017-11-02 22:53] Lopez-i opened #105 "cloverAggregateReports bug with html"
Hello,

i have two sub projects and a root project so i have override task : test

[code]

Aggregated report pdf is working:
take a look at :
![pdf](https://image.noelshack.com/fichiers/2017/44/4/1509662602-capture-d-ecran-2017-11-02-a-23-39-39.png)

but html report is not working on root project:
![html](https://image.noelshack.com/fichiers/2017/44/4/1509662903-capture-d-ecran-2017-11-02-a-23-48-

[2017-11-06 05:27] Alex-Vol commented on #105
In order to get an html report from the aggregate tasks you must configure clover plugin in the root project to generate html report.

[code]

This must be done in the root project build.gradle.

[2017-11-17 15:02] davidsonnabend commented on #75
Sorry that I comment an already closed issue but I think that it is the best place.

I managed to run the plugin with grails 3.3.0.
In the clover report I just see the test results of my unit tests, the integration tests are not listed.
The coverage looks good - the integration tests are evaluated. As mentioned by @Alex-Vol I tried to merge the test results, so that clover just needs to read one f

[2017-11-17 21:05] Alex-Vol commented on #75
The way this plugin deals with multiple source sets and additional test tasks is by using the configuration options for `additionalSourceSets`, `additionalTestSourceSets` and `includeTasks`.

See the documentation regarding these in the README.md.

An example of a project with integration tests and the expected usage of these configuration stanzas is here: [java-project-with-additional-tests](http

[2017-11-17 21:09] Alex-Vol commented on #104
I am inclined to close this as "User error", I cannot reproduce this in any way. Feel free to attach more information or a way that you can make this happen to have me research further.

[2017-11-17 21:09] #104 closed

[2017-11-17 21:10] Alex-Vol commented on #105
I believe this is as I explained and therefore not a bug. Closing.

[2017-11-17 21:10] #105 closed

[2017-11-18 00:12] davidsonnabend commented on #75
I alreade saw that part of the README but failed to configure it right and tried another approach to solve my issue.  With your hint that `additionalTestSourceSets`is the way to go I finnally found the solution. My fault was that I was using one of the default variables so that the files where searched within  `integrationTest` folder instead of the default grails folder:`integration-test`.

Thank

[2017-12-04 20:53] influenza commented on #91
@Alex-Vol  if you can throw down some TODOs on a branch, I can pick it up.

[2017-12-04 21:42] Alex-Vol commented on #91
I will try to find some time to document where I think we can make changes to get this done. I have not had any time to get back into it.

One issue that I alluded to in the previous comment is that we compile Java and Groovy together even if they are setup in separate src/main/java and src/main/groovy directories. The Gradle 4.x approach is to compile each language source set into a separate dire

[2017-12-05 04:13] influenza commented on #91
I took a stab at getting the project itself to run on Gradle 4.3.1 and found the only hurdle to be the exotic `integrationTests` setup. Thank you for any guidance you can provide on the work mentioned above.

[2017-12-06 02:35] influenza opened #106 "Update this project to use Gradle 4.x"
In order to update the plugin to support Gradle 4.x projects, this project should be updated to use Gradle 4.x

I have started a [branch on my fork](https://github.com/influenza/gradle-clover-plugin/tree/Gradle-4.3.1) to address this but I am struggling with the classpath settings for the integration tests. Any assistance or pointers is appreciated.

[2017-12-11 22:26] siordache commented on #106
It's difficult to split the Gradle 4.x problem in two separate issues, because in both cases you have to deal with the classesDir / classesDirs problem.

To get started do the following:

- replace all occurences of `classesDir` with `classesDirs` in build.gradle.

- replace all occurrences of
`classpath files('../../../../build/classes/main')`
with
`classpath files('../../../../build/classes/java

[2017-12-24 00:36] Alex-Vol-SV commented on #106
Closing as duplicate of issue #91

[2017-12-24 00:36] #106 closed

[2017-12-28 19:26] #55 closed

[2017-12-28 19:26] #80 closed

[2017-12-28 19:26] #91 closed

[2017-12-28 19:26] #96 closed

[2017-12-28 19:30] Alex-Vol commented on #106
FYI, I released v2.2.0 with Gradle 4.x support. Try it out and let me know how it works for you.

[2017-12-29 18:06] influenza commented on #91
A holiday present! Thanks for getting this support out. I'm updating some of our projects to use it today :)

[2018-01-02 19:34] influenza commented on #91
I've switched over the projects at my organization and can verify everything is working perfectly with Gradle 4.4 :+1:

[2018-01-02 20:01] bmuschko commented on #91
@influenza Noice!

[2018-01-05 08:04] TomUdr commented on #91
Confirming this works!
Many thanks to all.

[2018-01-05 16:47] Alex-Vol commented on #100
I spent dome time researching what this issue is all about. Here is what I have found so far.

The clover plugin for SonarQube is not up-to-date for the latest API. Using this plugin in SonarQube enables pushing Clover reports and parsing the information so SonarQube can display and use it. The new SonarQube Gradle plugin probably supports the same property configuration that is needed to produce

[2018-01-31 03:20] shankybnl commented on #97
Hello @bkchithra1 / @Alex-Vol ,

I am a newbie in code coverage and gradle. I need your help in generating instrumented WAR for my project. I have few queries:

1. I am using the below terminal command to generate instrumented WAR. Is this correct?
     `gradle -PcloverInstrumentedJar clean build `

 I use `gradle clean build` to create normal WAR.

2. Does instrumented WAR get created at the same

[2018-01-31 06:15] Alex-Vol commented on #97
1. Yes, that command line creates the instrumented WAR
2. Yes, no attempt is made to create the war with a different name. You should be able to make this yourself using the conditional I use to control clover in your war task configuration
[code]
war {
  doFirst {
    if (project.hasProperty('cloverInstrumentedJar')) {
       println "INFO: Creating Clover instrumented WAR"
    }
  }
}

[2018-02-01 12:42] shankybnl commented on #97
Thank you very much @Alex-Vol for the quick response. I can see logs of instrumented war creation. I am deploying the same war on local tomcat with property `-Dclover.initstring.basedir=/home/user/workspace/project/build/.clover` to update .db files at runtime.

I can see below logs while war deployment which might mean that instrumented war being deployed on tomcat

But I don't see any clover log

[2018-02-05 18:24] Alex-Vol commented on #97
Does tomcat process run with user identity that can write to files in `/home/user/workspace/project/build/.clover`?

The format for the configuration is this:
[code]

[2018-02-08 04:26] shankybnl commented on #97
Hi @Alex-Vol ,

Yes, you were right. `tomcat` user had no rights to write at the project location. This I found in the logs after deploying instrumented WAR directly on tomcat. Previously, I was deploying via Intellij and no logs were coming for permission denied. Also, I am able to see clover logs in server logs by passing below VM arguments to tomcat:

`-Dclover.logging.level=debug`

Now the pro

[2018-02-08 23:56] Alex-Vol commented on #97
This may require some extra functionality from the plugin unless you can make this work with a single DB file in a new Gradle integration test harness. The plugin will only aggregate databases generated by a Gradle test task. To get this working you would need to setup Tomcat as a test harness invoked by the gradle build during an integration test. You would need to configure the Tomcat process to

[2018-02-09 07:40] Favorlock opened #107 "Clover and Shadow. Possible to use together?"
I'm having trouble getting the clover plugin to play nice with the shadow plugin. I can build the project just fine so long as I'm not generating a clover report, but if I attempt to generate a clover report the gradle build fails due to compile time errors because it cannot find the shadow dependency classes. This appears to happen immediately after instrumentation according to the build log. Wou

[2018-02-09 09:34] Favorlock commented on #107
Problem solved, see original report for solution.

[2018-02-09 09:34] #107 closed

[2018-02-09 15:32] fkluthe opened #108 "Problems with big project"
I'm trying to setup code-coverage on a big Grails project (3.1.15). I was following this description: http://guides.grails.org/grails-code-coverage/guide/index.html

First i got errors related to too large class files:
[code]

To work around this, i was using `testExcludes` and `excludes` properties in clover.gradle
It only got me so far:

[code]

But no report were generated. I tried with `com.bm

[2018-02-13 12:57] shankybnl commented on #97
Hi @Alex-Vol ,

Thank you for providing the details and for all your help to reach this point. Yes, I will try to figure it out. Meanwhile, if you get the time please develop this feature.

Shall I raise the feature request?

Regards,
Shanky

[2018-02-13 19:19] bajjurisanthosh opened #109 "Issue with threshold percentage"
Every time my build gets success status when I run "gradle clean build", but when I generate report using "gradle cloverGenerateReport"/"gradle cloverAggregateReport" I see weird errors sometime but not always. Find below the error
**[ant:clover-check] The following coverage targets for null were not met:
Total coverage of 77.6% did not meet target of 80%
:project1:cloverGenerateReport FAILED**

N

[2018-02-14 04:37] shankybnl opened #110 "Code coverage by integration tests in the aggregate report"
Hi,

My integration and unit tests db files are written at the same location. On executing `gradle cloverAggregateReports`, code coverage by integration tests is not picked up in the report.

I have provided same submodule location where unit tests db files are created. I can see new db files gets created when integration tests are executed from different repo and instrumented war is deployed on t

[2018-02-14 10:32] fkluthe commented on #108
Sry i cant make the project public.

I tried out that setup with a way smaller project (same grails version/dependencies). No problem at all. Also the reports were generated within a minute. For the big project the `cloverGenerateReport` is running for hours...

I there any way how i can debug? Some `verbose` option or anything?

[2018-02-15 02:18] Alex-Vol commented on #109
When you use the targetPercentage setting you are asking for this behavior of the plugin. You want the build to fail hard when the coverage is below a minimum acceptable percentage. Why is that confusing to you? It works as documented in my opinion.

What is the expectation you have when the targetPercentage is not achieved by your code testing?

[2018-02-15 02:24] Alex-Vol commented on #110
Writing the DB clover coverage files in the same location is not sufficient. The way this feature is intended to work is by having Gradle drive the integration tests. If you have an external process using Tomcat generate DB files they are not getting merged since that is not how the plugin expects the clover.db files.

If you want this to work you need to create a new integration test harness that

[2018-02-15 02:27] Alex-Vol commented on #108
Really! `cloverGenerateReport` running for hours is fascinating. How large are your clover.db files for this? Could you post the generated clover.db files as a way to demonstrate the issue? I am not sure how much private information might be captured in the clover.db file but given that the report generator is running for hours I imaging you might be hitting a problem in Clover itself. Have you tr

[2018-02-15 02:49] bajjurisanthosh commented on #109
I would like to bypass the percentage in the build even if we have targetPercentage, can you let me know how do we achieve this.
May intention is to generate report even if threshold percentage is less than TargetPercentage. Let me know if we can use a command to bypass threshold and generate report

[2018-02-16 04:52] sahoosunilkumar opened #111 "NPE with Android plugin"
I am facing java.lang.NullPointerException: Cannot execute null+configuration ':app:clover'

Following is my application build.gradle

And following is my module build.gradle

[2018-02-16 16:39] Alex-Vol commented on #109
Make targetPercentage very low. 0% is the lowest you can have. Then the job will generate the report and not automatically fail.

[2018-02-16 16:48] Alex-Vol commented on #111
I have no idea what causes this exception. You are not providing enough details. The output of `./gradlew --stacktrace` would be useful for such an error.

[2018-02-20 07:58] sahoosunilkumar commented on #111
Following is the stack trace log

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
        at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:87)
        at org.gradle.configuration.project.LifecycleProjectEvaluator.notifyAfterEvaluate(LifecycleProjectEvaluator.java:82)

[2018-02-21 18:55] CullenClark commented on #109
Hey Alex,

The issue in question is that the behavior is not consistent.  We are fine with the target of 80%, if we consistently got 80%.  It appears that each run, depending on the order of execution, the threshold is applied before the run completes and fails inappropriately.  When it fully executes, the coverage is over 80%, and this reports and succeeds.  Changing nothing, we can run the comma

[2018-02-22 17:41] patbaker82 commented on #79
@Alex-Vol Can we revisit this given:

https://docs.gradle.org/4.6-rc-2/release-notes.html#junit-5-support

[2018-02-22 17:43] wlsc commented on #79
That would be helpful for Clover users.

[2018-02-22 19:58] patbaker82 commented on #79
/cc @bmuschko

[2018-02-23 04:36] Alex-Vol commented on #79
Pull requests welcome!

:)

I can take a look but time is precious and not going to be a quick turnaround.

[2018-02-23 04:44] Alex-Vol commented on #109
It is easy to create a property with a default value in gradle.properties and override that in the command line execution. Example:

build.gradle
[code]

gradle.properties
[code]

Use -PcloverTargetCoverage=80 when needed.

I wonder if the unpredictable behavior is caused by concurrency in tests. This is also possibly an issue in Clover core which means I can do nothing to correct it. All we do in

[2018-02-23 05:02] Alex-Vol commented on #111
Please use plugin version 2.2.0. You are referencing version 2.1.3. I will not debug an issue with an older version of the plugin.

[2018-02-23 05:24] sahoosunilkumar commented on #111
same problem after i referred to 2.2.0

[2018-02-23 23:26] Alex-Vol commented on #111
Post stacktrace so I can better identify the problem code. It is very likely a combination of the android plugin lazy initializing structures this plugin depends on.

Ideally a simple case that can reproduce this would expedite fixing it but the stacktrace can help defect the code that catches the NPE.

[2018-02-28 04:44] sahoosunilkumar commented on #111
same as above

[2018-03-01 00:49] Alex-Vol commented on #111
I am sorry, that stacktrace cannot be the same as above. The line numbers in the stacktrace do not line up with the code in 2.2.0.  So, it makes it harder to diagnose the exact cause. Please post the actual stacktrace even if it "looks" the same.

[2018-03-01 04:11] sahoosunilkumar commented on #111
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
        at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvalua

[2018-03-08 04:51] Alex-Vol commented on #111
The stacktrace helped pinpoint the issue. It is an easy fix but it is a curious issue. The Test task appears to have a `null` classpath which is unusual to say the least. Something, perhaps another plugin is setting the classpath to `null` instead of empty. I can add defensive logic to avoid the problem. I will try to find some time to correct this during the weekend.

[2018-03-30 16:40] #109 closed

[2018-04-04 08:15] fkluthe commented on #108
I revisited the issue and was not able to finish a report, always got `[groovyc] General error during class generation: Class file too large!`.. Anyway like you have written, the issue probably is not related to the plugin. Therefore i will close the issue. Thx for you time!

[2018-04-04 08:15] #108 closed

[2018-04-06 00:52] Alex-Vol commented on #100
Thank you @mmindenhall for this information. I can see about having something akin to what you specified added to this plugin. It would be relatively easy for the plugin to react to the presence of the "org.sonarqube" plugin and add the extra properties.

At a minimum I may add a paragraph in the README.md file documenting your experience with this integration.

[2018-04-10 15:43] mmindenhall commented on #100
I looked into ways to integrate the two plugins, and concluded that either the sonar-scanner-gradle plugin would need to expose a way to set a property from within another plugin's code (doesn't seem possible the way the plugin is implemented), or this plugin would need to add a way to retrieve properties from other plugins.  I then [posted in the SonarQube Google group](https://groups.google.com/

[2018-04-10 15:54] Alex-Vol commented on #100
You can read the clover Closure parameters just as much as set them. You already do that.

The same could be done in the Sonar plugin. The `join()` code you added could be part of the Sonar plugin operation.

Illustration using your example.

[code]

[2018-04-16 21:10] freshcodemonger opened #112 "When Clover is disabled eliminate recompilation of sources during test task execution"
I tried the enabled = false but that just turns off the generation of the clover reports.  The instrumentation still occurs.

[2018-04-17 01:44] Alex-Vol commented on #112
Are you sure you set this correctly? It has been tested and it works.

[code]

or
[code]

[2018-04-17 04:57] Alex-Vol commented on #112
I retested this in a single project as well as a multiproject configuration. Both report Clover disabled and do not apply instrumentation. The test I used was a simple build we have to run functional tests with. The build.gradle file for this is here: [disabled-instrumentation](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/functTest/projects/java-project-disabled-instrumentation

[2018-04-17 17:15] freshcodemonger commented on #112
Thanks for testing it !!

Where do I find the referenced deps.gradle?  I tried a search on the repo but it didn't find it.

I'll give my code another try and see if I can narrow down my issue.

[2018-04-17 18:09] freshcodemonger commented on #112
Sorry not sure why I didn't find it !

So I tried and though it claims it is disabled I still get output and the classes get recompiled:

Shouldn't it exit before loading up the openClover jar file?

[clover-clean] OpenClover Version 4.2.0, built on April 30 2017 (build-1000)
[clover-clean] Loaded from: F:\.gradle\caches\modules-2\files-2.1\org.openclover\clover\4.2.0\6e24ca61354259476c48022595355

[2018-04-17 18:35] freshcodemonger commented on #112
My junit tests also start failing due to the re-compilation.  For now I have a work around I just push the clover stuff to a apply file and do something like:

if (cloverEnabled.toBoolean())  {
  apply from: 'b/clover.gradle'
}

Thanks for the work on this plugin !

[2018-04-17 18:38] Alex-Vol commented on #112
Yea, the classes are recompiled but without instrumentation. Your workaround disables the plugin completely and solves the issue. Perhaps we can allow for the instrumentation to be disabled by not adding the task action on the test task. I will take this on as an enhancement. With this plugin we do not need to be coupled so closely to the underlying library facilities. I can see how we may be able

[2018-04-23 20:29] ricardoamador opened #113 "How can I combine instrumented jar results with instrumented unit tests results"
I have the plugin setup to run so I can get code coverage on my unit tests and also to generate an instrumented jar. Both of these work fine. What I would like to know is how can I combine the results of running my testing against the instrumented jar with that of the instrumented unit test results? Is this even possible?

Essentially what I would like to do is the following:
1. Build and collect

[2018-04-23 22:59] Alex-Vol-SV commented on #113
It depends on how you setup your instrumented JAR tests. If you are using Gradle to run them you could make it so that the instrumented JR test uses the same clover.db file as the unit tests code coverage. Then Clover would just update the DB file with the additional coverage.

A more involved approach would require that you setup the instrumented JAR tests as a subproject resulting in a new clove

[2018-04-24 14:26] Alex-Vol commented on #113
With what you are doing the best way I know how is to directly invoke the Ant tasks in the OpenClover JAR that perform the merge databases work. Perhaps I can add such a task for you in the plugin to take an external generated database and merge it using a special invocation. We already do this merge for multiproject setups to generate a consolidated report. I believe this could be implemented wit

[2018-04-24 14:31] ricardoamador commented on #113
That would be great. I did resort to using the open clover jar directly but have not gotten to test out the above. I am hoping it will merge the databases in the way I think it should. This was previously done when our build scripts were in ant but there have been a lot of architectural changes since and it would not be feasible to port the old method.

It would be great if you added a task for me

[2018-04-24 15:18] Alex-Vol commented on #111
Added defensive logic for this issue. It feels like this is a bug in Android plugins in your build but I did find the code and protected against null. I cannot make a reasonable reproduction of this so I hope that is taking care of your issues.

Release 2.2.1 may take a bit of time to propagate to the plugin portal.

[2018-04-24 15:18] #111 closed

[2018-04-24 23:04] freshcodemonger opened #114 "By default are the instrumented class files used in the war creation or is there somehow a set of non-instrumented class files"
I am unsure on how to tell if a class file has been instrumented when looking at it.

[2018-04-25 17:29] freshcodemonger commented on #114
Seems like the plugin makes copies of the classes before recompiling with the instrumentation.  While the clover instrumentation is occurring you can see the subdirectories under classes are renamed to x-bak and presumably when the clover reporting finishes they are renamed back.  My thought is that the war is not containing the instrumented classes and the workflow is correct.

[2018-04-25 19:36] freshcodemonger commented on #112
I think all you'd need for this is :

https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/clover/CloverPlugin.groovy

Line 64:

if (cloverPluginConvention.enabled)  {
     AggregateDatabasesTask aggregateDatabasesTask = configureAggregateDatabasesTask(project, cloverPluginConvention)
        configureActions(project, cloverPluginConvention, aggregateDat

[2018-04-25 20:25] Alex-Vol commented on #114
Yes, during testing we temporarily move aside the default compiled classes, instrument all classes and test classes, run unit tests, move back the default compiled classes.

When using the project property that enables the creation of instrumented JAR/WAR files we skip the step that moves the default compiled classes back and make the jar/war tasks run after the test tasks.

As per the documentati

[2018-04-26 03:34] Alex-Vol commented on #112
Thanks, but it is a bit more complex than that. Perhaps the best approach is to disable the tasks instead of removing them. Your suggestion would work in the general case but in many environments such an approach would break an automated build should the option to enable was turned off.
As a CI engineer I would want the disable option to not break any existing task selections that I may have in pl

[2018-04-29 03:02] Alex-Vol commented on #79
After a short time experimenting the results are in. This actually works just fine with JUnit5 but the OpenClover library we rely on to generate reports appears to mistake JUnit5 test classes for application code. The result is an odd report that correctly reports coverage but lumps the test classes together with application classes and reports no test results. It does report the combined coverage

[2018-04-30 08:21] bdbogjoe opened #115 "Unable to get merged report in multi project using spock"
I'm not able to get correct coverage report using multi project with spock

* in module core i have AbstractFoo::something() which is calling internally doSomething()
* in module impl i have FooImpl extending AbstractFoo and implementing doSomething()

After generating report and doing aggregation from root i cannot see coverage for AbstractFoo.
Is there something wrong in my project ?

here my sa

[2018-04-30 13:50] Alex-Vol-SV commented on #115
Thank you for making a demonstration of this.

This is a known issue when doing such type of testing with a module injecting cross-project tests. If you can put your additional tests in the same project they work. There is no easy way to fix this because of the methodology followed when instrumenting code. We instrument code by attaching actions to the test task that recompile all source sets (mai

[2018-04-30 14:50] Alex-Vol-SV commented on #115
I would not use the classesDir as the :core project outputDir. Try making it a completely new directory.

`classesDir = file("$buildDir/core-instr")`

This may be the missing link that gets you what you need. Not pretty but if it works it is a good workaround.

[2018-04-30 15:07] bdbogjoe commented on #115
i found a workaround, but do you think it is acceptable : https://github.com/bdbogjoe/gradle-clover-multiproject/tree/workaround

[2018-04-30 15:13] Alex-Vol-SV commented on #115
It seems that the workaround as coded would treat the application code as test code. Do you see the application classes in the "Application code" tab? Or do they appear in both that and "Test code".

I hoped the additionalSourceSets would work with my suggestion. That is an extreme case of the purpose of this configuration IMHO.

[2018-04-30 15:18] bdbogjoe commented on #115
i added your suggestion in the branch but without

[code]

i cannot see the code as covered

[2018-04-30 15:32] Alex-Vol-SV commented on #115
It is surprising to me that you need both additionalSourceSet and the srcDirs addition. I would have thought the srcDirs addition would be enough. Perhaps the intersection helps the process.

I am going to investigate the additionalSourceSet operation across multi-project, never tried it before.

[2018-05-04 06:43] freshcodemonger commented on #112
Good point.  Thanks for looking at it.

[2018-05-04 12:16] bdbogjoe opened #116 "Unable to run integration test with clover from grails plugin : Failed to load ApplicationContext"
I created sample repo to illustrate the issue :

https://github.com/bdbogjoe/grails-clover-integrationTest

just run grails test-app and you will get exception :

[code]

[2018-05-04 16:14] Alex-Vol-SV commented on #116
Thanks for the sample. I will take a look over the weekend if time permits.

[2018-05-07 05:01] Alex-Vol commented on #116
It appears you were trying too hard to get things and had more configuration than was needed.

Eliminating the additionalTestSourceSet configuration block completely makes the integration tests run and pass. The coverage for the application code appears correct.

This was the `clover` configuration that worked:
[code]

However, I see that there is a problem with this particular use case, Clover re

[2018-05-07 18:35] Alex-Vol-SV commented on #113
The plugin uses the Ant tasks to generate the databases. The databases are generated by Clover as the unit tests are executed not during the reporting phase. For multi-project configuration an extra task cloverAggregateDatabases is executed to perform the clover-merge Ant task.

The Clover execution uses intermediate files named by suffixing the base name of the db file which is derived by the tes

[2018-05-07 20:55] ricardoamador commented on #113
Sounds good. I will keep checking back for you changes.

[2018-05-14 06:59] bdbogjoe commented on #116
ok understand, issue is with report, thanks

[2018-05-18 20:39] aj-michael commented on #18
Can we reopen this?

[2018-05-19 17:07] Alex-Vol-SV commented on #18
I guess it is becoming a pain point for you @aj-michael ?
I do not know if this would be an easy fix but if you need a solution I can see if there is one to be made.

[2018-06-27 14:34] resah opened #117 "Console reporter"
Is it possible to write code coverage information to console?

We are using GitLab-CI, which reads coverage information from console output during build and shows this directly in related merge requests.

Right now I am using jacoco and would love to switch to this awesome clover plugin.

[2018-06-28 13:31] jandaj opened #118 "re-instrument and recompile every single source file"
I have a very large codebase, and clover is trying to re-instrument and recompile every single source file, even though only one file has changed, which is a huge overhead with the run time.  I was wondering if there is a way to configure the plugin or even the Ant task to make it so that it only re instruments and re compiles the files that have been changed.

[2018-06-28 20:36] Alex-Vol-SV commented on #117
If you enable XML report you can probably create a new task that uses XMLSlurper to pick the values out of the XML report and print them. Instead of just running the cloverGenerateReport or cloverAggregateReports task you would run your own task which would depend on either of the above as needed and then would pick the values out of the clover.xml summary. You would do that to print the desired v

[2018-07-22 21:57] Alex-Vol-SV commented on #118
I have no control over the Ant tasks. This plugin integrates OpenClover using the Ant tasks and is subordinate to the behavior of the OpenClover Ant tasks. Perhaps this is better served as a query in OpenClover project.

I will look at the behavior regarding the recompile, it might take some significant refactoring to work because of the compilation code swapping that happens in this plugin. The p

[2018-08-09 00:02] winstonsimon opened #119 "Support for JDK 9 & 10"
Looks like gradle clover plugin has no support for JDK 9 and JDK10.

unexpected token: enum
   [clover] ** Error(s) occurred and the instrumentation process can't continue.

[code]

[clover] Processing files at 1.3 source level.

Please look into it.

thanks!

[2018-08-09 01:12] Alex-Vol-SV commented on #119
This is an issue with OpenClover version. Open an issue with the OpenClover project although I think this is already in their roadmap.

The plugin does not have control over this, we just provide the Gradle wrappers around the execution of the OpenClover Ant tasks behind the plugin tasks.

[2018-08-09 03:43] winstonsimon commented on #119
Thanks Alex for responding 👍

[2018-09-01 12:05] abcfy2 commented on #95
I have the same issue. When the domain class with `@GrailsCompileStatus` annotation will see this error.

[2018-09-01 14:51] Alex-Vol-SV commented on #95
Vote for the https://jira.atlassian.com/browse/CLOV-1863 to have it fixed. It is still open.

[2018-09-27 17:58] tinkerbell2018 opened #120 "missing clover.license file in latest."
java.io.FileNotFoundException: java.io.FileNotFoundException: https://raw.githubusercontent.com/bmuschko/gradle-clover-plugin/master/clover.license
java.io.FileNotFoundException: https://raw.githubusercontent.com/bmuschko/gradle-clover-plugin/master/clover.license
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(HttpURLConnection.java:1836)
	at sun.net.www.protocol.http.HttpURLConne

[2018-09-27 18:22] Alex-Vol-SV commented on #120
First of all, you should not be referencing this file, it is only to be used by this open source product by our own builds. Not to be used by your builds.

Second, the clover.license is not required anymore. The plugin is now using the OpenClover library which has eliminated the need to use a clover.license file with the execution.

[2018-09-27 18:22] #120 closed

[2018-10-26 18:44] freshcodemonger opened #121 "Documentation - regex for log"
I found the regex in the example given to be matching portions of code before _LOG statements.

I think a better regex would be:

statement {
            name = 'log'
//start of line, any amount of whitespace then _LOG. minimal match before finding );
regexp = '^[\\s]+_LOG\\..*?\\);'
        }

[2018-11-01 23:52] freshcodemonger opened #122 "Clover configuration modifies the test files included in a test type task even with testIncludes"
I have a Test type that I have defined.

task mytest(type: Test) {
  include "**/mypackage/**"
}

and I've told clover to only include the mypackage tests.

clover  {
    testIncludes = ['**/mypackage/**/*Test.java']
    //excludeTasks = ["mytest"]
}

when clover runs it properly detects 89 classes for clover reporting but it causes the mytest task to execute ~500 tests instead of the 89 that norm

[2018-11-04 22:14] Alex-Vol-SV commented on #122
From your description I assume that the source set you used has more tests and you are narrowing down the active ones using the include pattern. I believe this is a known current limitation of the way we integrate Clover into the Test tasks. We do not carry over the Test task filter in the processing actions and this results in the behavior you experience.

[2018-11-25 22:13] bettynicole opened #123 "How to add integration tests analysis in Clover?"
Hi,

I am a software developer trying to add our integration tests into Clover analysis. It’s a large, multi package distributed system. We have integrated Clover into Sonar and we use build.gradle. Originally our build.gradle contained the following lines:

sourceSets {
    main {
        jarName = "notification_service" // override the default jar name
    }
    test {
        jarName = "notific

[2018-12-07 08:52] nagaraju-sunkara opened #124 "how to generate run time code coverage"

[2018-12-07 08:54] nagaraju-sunkara commented on #124
Provide a gradle task to genearte instrument classes with coverage reports genearted at a regular interval

[2018-12-10 02:33] nagaraju-sunkara commented on #124
Yes. I am looking for instrumented classes to have a run time coverage

[2018-12-10 23:01] Alex-Vol-SV commented on #124
When building instrumented code your application must include clover.jar as well. Instrumented code has references to Clover classes so your application needs the JAR file.

See documentation of plugin here: [Properties](https://github.com/bmuschko/gradle-clover-plugin#project-properties)

[2018-12-11 09:32] nagaraju-sunkara commented on #124
Thanks. I could able to generate instrumented JAR file. but it is missing the clover jar  as part of build thus throws exception "No class def found".

[2018-12-11 20:13] Alex-Vol-SV commented on #124
You are responsible for adding this JAR to your application when testing with instrumented JAR file. That is expected of you. I am not going to embed Clover JAR contents in your application JAR file. You can do that if you wanted without changes to the plugin if you think it would help. But the normal way of using the instrumented JAR file is by adding the clover.jar in the application, either on

[2018-12-12 14:32] nagaraju-sunkara commented on #124
i could able to add jar at runtime during build now.

Can you give me the steps to have a singleCloverDatabase  when it executes the clover tasks?

[2018-12-12 14:49] Alex-Vol-SV commented on #124
This feature is not implemented yet. We do not handle a clover database produced during an external invocation of instrumented code. If your instrumented JAR is used by an integration test harness managed by Gradle it might be possible to do such a merge of the databases.

[2019-01-04 00:17] joferguson commented on #119
I tried using openclover 4.3.1 to get support for Java 10, but doing so I get the following error.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':test'.

It might be related to this: https://bitbucket.org/openclover/clover/issues/75/431-ant-javac-task-is-unable-to-find

[2019-01-17 15:43] bjornvester opened #125 "ClassNotFoundException for CloverCompilerAdapter when using OpenClover 4.3.1 on a Java project"
Running the cloverGenerateReport task on a simple Java project configured with version 2.2.1 of the plugin, and version 4.3.1 of OpenClover (both newest at the time of this writing) throws the following exception:

[code]

I am using Java 8 and Gradle 5.1.1.

It looks like the plugin is not compatible with that version of OpenClover, likely due to the fix for https://bitbucket.org/openclover/clove

[2019-01-17 16:22] Alex-Vol-SV commented on #125
I have to do some work for adding support for the 4.3.1 Clover. It includes support for Java 9+ which I would like to include. I cannot promise I will get to it soon, but I will try.

[2019-01-25 17:47] dlehammer commented on #125
@Alex-Vol-SV seems to be a classloader issue, most-likely similar to [[4.3.1] Ant javac task is unable to find CloverCompilerAdapter class](https://bitbucket.org/openclover/clover/issues/75/431-ant-javac-task-is-unable-to-find).
That issue seems to be connected to the OpenClover team adding support for Java 9.

They list a workaround:

I've tried the workaround, but it doesn't seem to make a diffe

[2019-01-25 18:23] Alex-Vol-SV commented on #125
I know where this has to change. I will have to add the clover jar to the classpath instead of the bootclasspath. Prior to Java 9 this was the preferred way but now it must be in the compiler classpath.

[2019-01-25 21:34] dlehammer commented on #125
@Alex-Vol-SV wrote

Thanks for the hint :)
I've poked around in the source-code, but I've been unable to pinpoint where `bootclasspath` is configured for Ant [javac](https://ant.apache.org/manual/Tasks/javac.html) in `gradle-clover-plugin`.

Snippets from [InstrumentCodeAction.groovy](https://github.com/bmuschko/gradle-clover-plugin/blob/b65bcba406d7719c737126ae3cef96a14582886d/src/main/groovy/com

[2019-01-26 04:01] Alex-Vol-SV commented on #125
I tried a few things and this still is not solved. Injecting the Clover JAR in the correct classpath is not as easy as I thought. I will keep trying to see if there is a way to solve this without major overhaul.

[2019-02-05 10:14] bjornvester opened #126 "Running on Gradle 5.2 throws a NoClassDefFoundError: AsmBackedClassGenerator"
The plugin no longer works for Gradle 5.2 due to the reliance on an internal class AsmBackedClassGenerator in package org.gradle.api.internal, which has been moved to org.gradle.internal.instantiation.

Thank you for maintaining the plugin by the way. Much appreciated :)

Stack trace:

[code]

[2019-02-06 12:24] zpalazov opened #127 "@CompileStatic and safe navigation operator fails cloverGenerateReport task"
When a combination of @CompileStatic annotation and safe navigation operator is used in a class
cloverGenerateReport task fails during clover-setup it can not compile it.
The same code is successfully compiled with the compileTestGroovy task

  [groovyc] Compiling 2 source files to /home/zahari/workspace/laboratory/open-clover-compilestatic-issue/build/classes/groovy/main
[clover-setup] Creating n

[2019-02-06 13:45] Alex-Vol-SV commented on #127
This issue is with Clover library. I cannot fix this, it fails because of @CompileStatic. Remove that and it works.

[2019-02-06 13:45] #127 closed

[2019-02-06 14:29] Alex-Vol-SV commented on #126
I think I will have to release a Gradle 5.x version of the plugin. This is most likely due to the fact that it is still largely written in Groovy and Groovy is known to cause issues when compiled code is moved to newer Groovy base.
I may decide to drop compatibility with older Gradle versions and only maintain Gradle 4 and later.

[2019-02-06 15:45] zpalazov commented on #127
Thanks for the answer,
 I have a question about the compilation part in the plugin , why is needed for Openclover to compile again the Groovy src files with ANT task,
do we have the option to use the classes  already compiled with the Gradle task
From what I see in the source if the Groovy plugin is applied to a Gradle project it always compiles again the Groovy sources ?

Nice project thanks for

[2019-02-19 07:13] Alex-Vol-SV commented on #126
I investigated this problem, it is not a simple change. I will have to create a Gradle 5.x only version of this plugin so there is a way forward without leaving Gradle 4.x unsupported. I will probably create one more version 4.x compatible with the fixes I have in the pipeline right now.

[2019-02-20 10:40] sbglasius opened #128 "Control the groovyc compiler"
It would be nice to be able to pass options to the `groovyc` ant task in `InstrumentCodeAction`

Pull request coming up. :slightly_smiling_face:

[2019-02-20 10:57] sbglasius commented on #127
If #128 gets accepted it is possible to work around this issue with a `groovyc` compiler configuration like this:
[code]
removing the `CompileStatic` and `TypeChecked` in the test phase when running with OpenClover

[2019-02-20 13:45] Alex-Vol-SV commented on #127
I would love to add this feature. I am not familiar with the `groovyc` compiler configuration. Where would this code be called from?

[2019-02-20 22:03] #128 closed

[2019-02-20 22:03] Alex-Vol-SV commented on #128
Thank you very much for this pull request.

[2019-02-20 22:05] #79 closed

[2019-02-20 22:05] #112 closed

[2019-02-20 22:05] #119 closed

[2019-02-20 22:05] #125 closed

[2019-02-21 22:27] Alex-Vol-SV commented on #127
So, to complete this I will add the above groovyc compiler configuration code snippet in the documentation.

[2019-02-24 17:35] zpalazov commented on #127
I've just tested it with 2.2.2-SNAPSHOT and works correctly, big thanks Soren and Alex !

[2019-02-25 03:19] Alex-Vol-SV commented on #127
Thank you @zpalazov for the additional verification. I plan to create a release for the 2.2.2 version by the end of the month. I want to run some validation on my own projects although I am quite comfortable with the results so far.

[2019-02-25 07:20] zpalazov commented on #127
@Alex-Vol-SV if I can help with testing of some scenario let me know.

[2019-02-25 14:14] Alex-Vol-SV commented on #127
Unit test and functional test coverage in this plugin is very comprehensive. I usually just spot check against some live projects at work where we utilize the plugin so I know real world projects are not going to have adverse side-effects from any changes. Feel free to use the SNAPSHOT build as you see fit. The changes from the previous version are identified in the release notes, I am going based

[2019-02-25 14:19] Alex-Vol-SV commented on #128
@sbglasius I am considering adding your name in the release notes as a thank you for this contribution. Do you have any objection to me adding your name in the list of contributors for this release?

[2019-02-25 15:09] sbglasius commented on #128
@Alex-Vol-SV  sure, why not. I don't mind :slightly_smiling_face:

[2019-03-05 12:34] gevorg opened #130 "2.2.2 is not yet released"
Hi @Alex-Vol-SV ,

Looks like we have a problem with documentation, as **README.md** refers to `2.2.2` version https://github.com/bmuschko/gradle-clover-plugin#usage however that version is not yet released https://github.com/bmuschko/gradle-clover-plugin/releases

Related to https://github.com/bmuschko/gradle-clover-plugin/commit/0b56343d07c5be36f1d964392b62bb3a6015794c

Gevorg.

[2019-03-05 17:35] Alex-Vol-SV commented on #130
It will be this weekend probably. I am preparing the docs for release.

[2019-03-06 15:38] brahma3691 opened #131 "Unable to use the plugin version 2.2.1 with java and groovy and Gradle 4.10.1"
I am currently trying to use the clover gradle plugin in my multi-module project: https://github.com/bmuschko/gradle-clover-plugin One of the modules has a Java and Groovy directory. When I apply the plugin and add the classpath dependency under my allProjects block, I get groovyc compile errors for Java classes that exist under one of the modules
According to the documentation, the groovyc compil

[2019-03-06 16:30] brahma3691 commented on #131
Ok, now a different error though I dont know if the above error will re-crop. I am having the same issue as listed in #125  now that I updated the open clover dependency as 4.3.1
My groovy/java source code lives under moduleName/src/main/java and moduleName/src/main/groovy accordingly. With the default configuration under clover closure, do I need to define additionalSourceSets?

[2019-03-06 16:34] Alex-Vol-SV commented on #131
The plugin 2.2.2 is going to be released later this weekend. 2.2.1 still has the issues.

[2019-03-06 19:43] brahma3691 commented on #131
Great, thanks. will wait for the update.

[2019-03-08 23:28] Alex-Vol-SV commented on #130
Started the release process. This will be available soon in the public repositories and the plugins.gradle.org location

[2019-03-08 23:28] #130 closed

[2019-03-09 07:26] gevorg commented on #130
Thanks a lot!

[2019-03-11 01:11] #126 closed

[2019-03-11 01:11] #131 closed

[2019-03-11 15:01] brahma3691 commented on #131
I am still having issues resolving Java classes in my project. Here is my build file for reference...
`buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.bmuschko:gradle-clover-plugin:2.2.2'
    }
}
plugins {
    id 'java'
    id 'groovy'
}
group 'Optimus'
sourceCompatibility = 1.8

allprojects {
    apply plugin:'java'
    apply plugin: 'groovy'

[2019-03-11 15:24] brahma3691 opened #132 "Issues using Clover plugin 2.2.2 and Gradle version 4.10.1"
I am still having issues resolving Java classes in my project. Here is my build file for reference...

[code]

I have a multi-module project and each module has a src/main and src/java. Do  I need to define sourceSets in my allProjects closure?  Am I missing some configuration?  When I run `gradlew clean cloverAggregateReports` it fails to compile my java classes.

_Originally posted by @brahma369

[2019-03-11 16:13] Alex-Vol-SV commented on #132
There is no need to define sourceSets if you use the standard source layout. However, src/java is not standard. src/main/java is the standard.

Also, I notice one issue with your build.gradle. You only define dependencies to modules in the root project. The allprojects closure does not apply the dependencies block you have to the subprojects.

This is not a Clover plugin issue, your build is confi

[2019-03-11 16:13] #132 closed

[2019-03-11 16:16] brahma3691 commented on #132
I have a src/main/groovy and a src/main/java in all my modules. If I remove the plugin, my project builds fine.

[2019-03-11 16:34] Alex-Vol-SV commented on #132
You need to provide more details. I have many multimodule projects where this plugins works just fine. I suspect you have some issue in the project dependencies as you are not giving enough details to figure out what is going on or a specific error that needs to be resolved.

I am inclined to say that your multimodule setup is incomplete because of the observation I made regarding the dependencies

[2019-03-11 16:36] Alex-Vol-SV commented on #132
FYI, you should change the wrapper task definition to avoid redefining the task.
[code]
That should be sufficient to configure the default wrapper task.

[2019-03-11 16:49] Alex-Vol-SV commented on #132
The Gradle Clover plugin switches compilation to use the groovyc compiler via Ant task instead of the Gradle CompileGroovy task. This is necessary to invoke the Clover library during compilation and instrument the code. Are you making any complex sourceSet/classpath manipulations in your projects to get this to compile? Where is the definition of the xxxxPlatform class found in your code? Without

[2019-03-11 16:56] brahma3691 commented on #132
All my java classes are under src/main/java.. for the module so the xxxxPlatform class lives under src/main/java too. i.e the java classes and the groovy classes that use the java classes are under the same high level src/main package.
Does that help? I can try to include the plugin into a module's build file and see if it works just for that module.

[2019-03-11 17:04] Alex-Vol-SV commented on #132
That is strange, this is a very common configuration with Groovy referencing Java classes. It is the case of joint Groovy/Java compilation where the Groovy compiler is doing the compilation for both Java classes and Groovy classes. It is a supported use case.

Can you try the following change? Move the java classes from src/main/java to src/main/groovy keeping their package levels the same. This m

[2019-03-11 17:42] brahma3691 commented on #132
That actually fixes the issue I had. However, I get a different issue now...

[code]

[2019-03-11 17:50] Alex-Vol-SV commented on #132
You cannot run clean and cloverAggregateReports.
cloverAggregateReports should be run together with the primary build to aggregate the reports generated by the cloverGenerateReport in check subproject. Clean removed all the data the aggregate task needs to do the work.

[2019-03-11 18:03] brahma3691 commented on #132
I get the same error even without the clean. I ran gradlew build first. and then gradlew cloverAggregateReports. I assume that I should see reports generating under build/reports?

[2019-03-11 18:10] Alex-Vol-SV commented on #132
Then your builds are not activating clover correctly. There should be reports generated for each individual subproject. Are you getting clover.db databases created in the subdirectories? In each subproject there should be a build/.clover directory that contains clover.db files. These are what cloverAggregateReports expects to find when it runs and merge their contents into an aggregate database at

[2019-03-11 18:18] brahma3691 commented on #132
I see a .clover folder but I do not see any clover.db databases created. I see a folder called "historypoints" but that's it.

[2019-03-11 18:19] brahma3691 commented on #132
Do I need

 in all my subprojects build files?

[2019-03-11 18:21] Alex-Vol-SV commented on #132
Your allprojects configuration already does the dependency in all your subprojects.

I am not talking about the .clover in the project directory. I am talking about the build/.clover directory in each build subproject directory.

[2019-03-11 18:26] brahma3691 commented on #132
build/.clover directory does not exist under the build directory in my sub modules. Not even in my root project's build file.

[2019-03-11 18:29] brahma3691 commented on #132
I do get a .clover directory under the build directory if I add the configuration in the build file for my submodule and run gradlew cloverGenerateReport from the submodule.

[2019-03-11 18:30] Alex-Vol-SV commented on #132
Typical configuration examples for clover are in the functional tests area.
[Multiproject build.gradle](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/functTest/projects/java-multi-project/build.gradle)

You should be configuring some of the clover closure parameters although in my experience the default works for most.

Does your root project have java code or is it just a conta

[2019-03-11 18:31] brahma3691 commented on #132
Just a container for the subprojects. No code in there.

[2019-03-11 20:08] brahma3691 commented on #132
Even with the clover configuration, my build fails with the same error. I believe I am missing something in the build.gradle file. I compared the structure with the file you linked and I think all of that matches except I dont have a sub-projects block.

[2019-03-11 20:46] Alex-Vol-SV commented on #132
The allprojects block encompasses the subprojects block. You are not configuring any options for clover in the clover closure which means you get the defaults only. Since your top level project is a container project with no code I would have a subprojects block to configure the code generating projects with appropriate settings and a top level clover configuration in the root project. Also, your

[2019-03-11 21:23] brahma3691 commented on #132
Sure, but that change didn't fix much.. I am not sure what I am doing wrong.. Below `is` my revised build.gradle file. I am wondering if this structure would make a difference:

[code]

[code]

[2019-03-11 21:33] Alex-Vol-SV commented on #132
Add this to your allprojects block
[code]
See if that makes a difference. Should not be required but might be worth a try.

[2019-03-11 21:35] brahma3691 commented on #132
no luck. I had tried enabling the html reporting but that didnt make a difference either.

[2019-03-11 21:41] brahma3691 commented on #132
Here is some weirdness:
I modified the build.gradle file in one of the modules as below:
[code]

When I run `gradlew cloverGenerateReport` I get a build/.clover directory with nothing in it.

[2019-03-11 21:56] Alex-Vol-SV commented on #132
I have never seen this and cannot help any further. As a last resort you could capture a full debug build log and attach to this issue. I can see if something is evident in the log.
[code]

[2019-03-11 22:00] brahma3691 commented on #132
[debug.log](https://github.com/bmuschko/gradle-clover-plugin/files/2954377/debug.log)

[2019-03-11 22:18] brahma3691 commented on #132
Is another option installing open clover manually? Does that work with multi projects?

[2019-03-11 22:26] Alex-Vol-SV commented on #132
No, OpenClover does not work by itself. You need a Gradle plugin to drive it. They have a plugin alternative but it is not supporting Groovy.

I cannot see your project performing any unit test work. Does your project have any unit tests? Coverage is a function of the code being executed during unit tests. That is the meaning of coverage. Your code does not actually have unit tests!

[2019-03-11 22:31] Alex-Vol-SV commented on #132
It appears you are a bit clueless when it comes to coverage. Clover measures "Unit Test Code Coverage". This means your code must be executed by unit test code written by you with the purpose of testing the code paths within your implementation and verifying correctness. The coverage metric is just a measurement that can show you where you might have missed some conditional testing that must be ex

[2019-03-12 01:02] brahma3691 commented on #132
Yes, my project has tests. They are spock tests under src/test/groovy. They exist for all modules that have the code.

[2019-03-12 01:03] brahma3691 commented on #132
I have used Clover before. And I know that it measures unit test coverage. I have not configured this project myself and neither did I write the tests. I can look into why they dont run. Thanks for your help.

[2019-03-12 15:39] brahma3691 commented on #132
For your information, here is what I had to do to fix things:
I had to supply sourceSets for the tests configuration which is in my case `src/test/groovy` and `src/test/java`. Even though this is standard according to gradle documentation - however clover for some reason could not figure it out.
 Here is what I added:
[code]
I also had to add the following dependency: `  testCompile 'junit:junit:4

[2019-03-12 16:21] Alex-Vol-SV commented on #132
The issue is not with this plugin. The issue is with your project. Your projects acted as if there were no unit tests at all. At least that is what the debug log claimed. For each one of the `test` tasks the log claimed there were no matching sources and therefore they were skipped. In my opinion your unit tests were somehow not seen by the defaults. The most weird part is that your source sets ac

[2019-03-12 16:26] Alex-Vol-SV commented on #132
As for the junit dependency, that is a requirement of Spock. Spock is a JUnit derivative and should have that as a transitive dependency. I commonly add junit as well as Spcok in all my projects. Again, nothing relating to this plugin, just missing or incomplete project layout configuration in your multilevel project structure.

[2019-03-12 18:04] Alex-Vol-SV commented on #132
Your unit tests are not found and not executed as far as I can tell.

[2019-03-12 18:34] brahma3691 commented on #132
Its very strange.. because I see reports getting populated after I run gradlew clean build. and there is an index.html that is generated under build/reports/tests/test. I am wondering if that means that tells you anything about the sourceSet not being the default. I have generally seen the report under build/reports/test? may be I am wrong.

[2019-03-12 19:04] Alex-Vol-SV commented on #132
Newer Gradle versions have changed the reports location for unit tests to exist under build/reports/tests/test. Older versions of Gradle had build/reports/test.

As I said, I do not use any specific sourceSets in my builds but I never nest more than one level either. There is a top container project with all submodules under one top level `submodules` directory. So, there may be something tricky a

[2019-03-12 19:08] brahma3691 commented on #132
thats the only possibility left ..
I have a high level container which contains submodules that are contains which in turn contain more modules and these modules have code.

So for example, root ProjectA contains modules ProjectB and ProjectC. ProjectB is a container with modules X and Y. X and Y have modules in them but these have source code and tests within src/main and src/test and have their

[2019-03-12 20:22] Alex-Vol-SV commented on #132
I suspect your plugins are not applied uniformly because of the multilayer submodules. I have not tried to experiment with this level of nesting before, I may do a quick example project like yours to better understand the issue. It does seem to be related to the nesting level.

To satisfy my own curiosity I created a super simple project with a build.gradle and settings.gradle like these:

*build.

[2019-03-12 21:02] brahma3691 commented on #132
I want to share the dependency tree that I have with you but I cant put the proprietary stuff and classnames on here.. can I share it some other way?

[2019-03-12 21:18] Alex-Vol-SV commented on #132
I do not know if it will help and I do not have more time to sort this out for you. It does not seem like an issue with the plugin and I have other pressing things taking my time.

If you can create a small example project that has simple java classes and Spock tests with the same nesting level and causes the same issue I am willing to investigate it. Make such a project in your Github and post th

[2019-03-12 22:44] brahma3691 commented on #132
https://github.com/brahma3691/multi-project-test

[2019-03-13 02:45] Alex-Vol-SV commented on #132
Your structure is quite unusual. Here are some notes.

1. There is no need to have more than one gradle wrappper instance in a multiproject Gradle build. Only the top level needs the gradle wrapper and gradle subdirectory.
2. Having a settings.gradle file in a submodule makes that an independent project which will not inherit settings and get injection of configuration via allprojects and subproje

[2019-03-13 03:42] Alex-Vol-SV commented on #132
Here is a fixed copy of your repository that actually works.
https://github.com/Alex-Vol/gradle-clover-multiproject-example

The problem is that you are very inconsistent with your use of Gradle. Do not add gradle wrapper and settings.gradle in submodules. If you must add a gradlew create a script wrapper that calls the top level gradlew instead. Something like this:
[code]

[2019-03-13 09:41] brahma712 commented on #132
Thank you so much for taking the time to look at this. My issue roots from IntelliJ auto creating these files!  I didn’t realize #2 that you made because I haven’t worked a lot with multi module projects. Thanks again I’m going to implement some changes to my project to get it to work. I appreciate your effort to help me fix this

[2019-03-13 14:42] brahma712 commented on #132
And my issues are fixed! I removed the gradle wrappers and settings.gradle from each module and merged everything into one single build file at the root.
One thing I found additionally is I had groovy and java under each src/main and src/test but the java folder had nothing under it - it was created by IntelliJ with the New Module creation functionality. If I removed that directory, the clover rep

[2019-04-05 06:17] freshcodemonger opened #134 "Trying to update to 2.2.2 and 4.3.1 gives errors"
I get these errors unless I use org.openclover:clover:4.2.0.  I tried doing a clean and build.  I also tried removing the /var/folders/0r directory that was referenced below.  I made sure the .clover directory in my project was deleted before running.

[ant:javac]   symbol:   method An_old_version_of_clover_is_on_your_compilation_classpath___Please_remove___Required_version_is___4_2_0()
[ant:javac

[2019-04-05 06:54] freshcodemonger opened #135 "ncLineCount column gives error"
report {
//...
columns {
//..
ncLineCount format: 'raw'
//...

https://confluence.atlassian.com/clover/clover-report-71600095.html#clover-report-Columns

[code]

[2019-04-05 09:08] sbglasius opened #136 "Method too long"
I have a rather large multi-build project where I see all sorts of weird errors.

I have attempted to mitigate the `@CompileStatic` issue with OpenClover by making a Groovy compile configuration basically changing all `CompileStatic` to `CompileStatic(TypecheckMode.SKIP)` and for some of the sub-projects it works, others it does not.

Now I stumbled upon one issue where I see a direct stacktrace t

[2019-04-05 13:53] Alex-Vol-SV commented on #134
You should clean your build directory. It appears there is code instrumented with clover 4.2.0 attempting to compile together with code using 4.3.1.
Are you perhaps building multiple instrumented JAR files and using an instrumented JAR file as a dependency to the compile of this one?

[2019-04-05 14:02] Alex-Vol-SV commented on #134
Do you have a compile dependency injected via transitive JAR file dependencies? You can tell by running `./gradlew dependencies` on the project that fails. It is possible you added a gradle dependency to clover as compile in your build.gradle for another JAR file and you are causing that to pull Clover 4.2.0 into the runtime path.

[2019-04-05 14:12] Alex-Vol-SV commented on #136
There is nothing I can do for you. This error is clearly due to the amount of code in your method definitions. The plugin has invoked the groovyc compiler on your code and it violated compiler limits.

I suggest you refactor large methods with lots of conditional logic to smaller ones. Unfortunately the error does not appear to hint at the file causing the issues.

[2019-04-05 14:12] #136 closed

[2019-04-05 14:14] Alex-Vol-SV commented on #135
I have not seen this one before. It will take some time to investigate.

[2019-04-05 21:07] freshcodemonger commented on #134
Thanks, I'll debug some more on my side.

[2019-04-05 23:45] freshcodemonger commented on #134
Seems to work now.  I tried doing clean builds before so I wonder if it was some artifact of the reuse of gradle daemons or something and now it has picked up a new daemon.  Not sure what else to attribute this to.

[2019-04-05 23:51] freshcodemonger commented on #135
Here is the stack if that helps

[code]

[2019-04-06 01:22] #134 closed

[2019-04-06 01:25] Alex-Vol-SV commented on #135
This stacktrace helps pinpoint the particular details I need to fix it.
I think the newer versions of Gradle try to snapshot the state of input properties deeper than before and cause this issue.

[2019-04-06 01:35] Alex-Vol-SV commented on #135
How do you add the Clover plugin in your projects? This seems to be a classpath issue more than a class serialization issue. The classes are properly serializable for the particular ones involved here.

[2019-04-08 20:23] freshcodemonger commented on #135
I have them extracted to their own gradle include files but that requires calling out the full package names.

import com.bmuschko.gradle.clover.CloverPlugin
import com.bmuschko.gradle.clover.GenerateCoverageReportTask

...
dependencies {
    classpath 'com.bmuschko:gradle-clover-plugin:2.2.2'
  }
...

 apply plugin: com.bmuschko.gradle.clover.CloverPlugin

    dependencies {
        clover 'org.o

[2019-04-08 20:25] Alex-Vol-SV commented on #135
That is probably why it fails. Are you adding the clover plugin in the top level build.gradle classpath or are you adding it in a separate included `apply from: 'clover.gradle'`?

I know that classpath additions in included gradle scripts are cause for classpath issues of this kind.

[2019-04-08 20:27] Alex-Vol-SV commented on #135
I always make my classpath declarations only in the top build.gradle. I add configuration blocks in separate gradle scripts.

[2019-04-08 21:18] freshcodemonger commented on #135
I didn't know that.  I just hacked the gradle stuff together so open for improvements.  I'll try to move the classpath dependency to build.gradle and see if that helps.  Thank you !

[2019-04-09 00:06] freshcodemonger commented on #135
I worked out the problem.  Moving the classpath dependencies wasn't the solution.

Gradle creates a cache directory in your project called .gradle, gradle clean does not clean this.

If you change the columns in the report after running once and rebuild without removing the .gradle directory it will fail.  I don't know exactly what output gradle has cached that causes this problem.  If you generat

[2019-04-09 00:13] Alex-Vol-SV commented on #135
That is how Gradle works. The task inputs for the previous successfully executed tasks are cached in the .gradle directory in the root of your project. When Gradle needs to check your task for up to date conditions it will attempt to deserialize the cached inputs. At that point the classpath is important and will need to have the plugin classes to allow the deserialization to succeed. You should n

[2019-04-09 00:24] Alex-Vol-SV commented on #123
Sorry for not responding sooner Betty.

You cannot produce individual run reports in Clover. The clover database for a single project will contain the accumulated coverage numbers of all the instrumented executions for the project.

The integration test example in this plugin functional tests contains a working solution to get combined coverage results from multiple source sets. Your parameters in

[2019-04-09 02:29] freshcodemonger commented on #135
I agree with you about how gradle works but independent of if you have the classpath dependencies in the main gradle file - as I tried this - re-running after changing a column will not work unless you wipe that .gradle directory.  I can't speak to if this is a bug but it seems odd that I'd have to delete the .gradle directory after changing the column configuration in order for the report to work

[2019-04-09 02:37] Alex-Vol-SV commented on #135
I have to try this myself and find out why it fails. The classnotfound error is a classpath error and there is not much I can do about that. I do not control the classpath Gradle uses for finding the plugin classes. As you see from the stacktrace you provided there is no code stack trace from this plugin in the entire stack so even if I wanted to try I would not have any way to change it.

So, I c

[2019-04-09 02:55] Alex-Vol-SV commented on #135
I can certainly reproduce this easily with a simple project. I suspect this never worked well and had such an issue since I added the feature but as it is an obscure kind of feature not many people use it. If I am correct the problem might be that Gradle cannot handle task inputs with custom task types, it prefers simple primitive types and collections of the same or any Gradle provided types. Thi

[2019-04-09 03:04] freshcodemonger commented on #135
Ok thanks for looking at it and all the work on the plugin!  I can work around the issue by just deleting the .gradle directory if I change the column format.  It just took a lot of testing to figure out that was the issue.  Probably just add some documentation for now and put it at the back of the pile - at least there is a work around.

[2019-04-09 03:09] Alex-Vol-SV commented on #135
You will probably find that this fails if the code is changed and you rebuild the project incrementally. Any time the task cloverGenerateReport or cloverAggregateReports needs to execute the same kind of failure will happen if the task has executed successfully once before. It is standard incremental build issue with Gradle.

I think the solution is actually not hard to implement now that you brou

[2019-04-09 03:12] freshcodemonger commented on #135
Sounds great !  Thank you !

[2019-04-09 13:50] freshcodemonger opened #137 "Html report columns do not line up if a column has a format of 'longbar'"
If you have a column specification like:

[code]
The coveredBranches longbar or any longbar format data will push the data for the column headers into different columns.  Clicking on the column header will then end up sorting the data for a different column.

[2019-04-09 13:55] #137 closed, assigned to Alex-Vol-SV

[2019-04-09 14:04] freshcodemonger commented on #137
Thanks.  I'll see about logging a bug over there.  One other thing is that the :

totalPercentageCovered format: 'raw'

is returning values like :  7,977

and I am confused how this is a percent.  Is this also a problem with openClover?

[2019-04-09 14:07] Alex-Vol-SV commented on #137
Yes, all this plugin does is call the generate report function of OpenClover library with the specified parameters. Technically we call the Ant task with the specified parameters but you see there is no way to change the way these parameters are handled. Perhaps the OpenClover documentation on this option explains more of this value and why it is not mapping to a 0-100 indicator.

[2019-04-22 04:31] Alex-Vol-SV commented on #135
Fixed in release 2.2.3

[2019-04-22 04:31] #135 closed

[2019-05-14 20:33] Alex-Vol-SV commented on #118
One possible approach that I should put some thought into is to cache the instrumented files between runs in incremental compilation. The plugin takes great care to replace the original not instrumented binaries back into the locations they were swapped out of but we do not save the instrumented binaries in a way that would make it possible to allow the Ant task to do incremental builds.
I also su

[2019-06-18 19:56] taylorsmithgg commented on #119
This is still broken for my builds.

[2019-06-18 20:07] taylorsmithgg opened #138 "unexpected token: enum on JDK10"
#119 Says this was fixed, but I am still experiencing an issue.

Using
[code]

and

[code]

[2019-06-18 20:34] Alex-Vol-SV commented on #138
What version of OpenClover are you using? This is not an issue I can fix. Relies on changes from OpenClover.

[2019-06-18 20:46] Alex-Vol-SV commented on #138
This is caused by OpenClover version selection.
4.3.0 or later I believe makes it work.

[2019-06-18 20:46] #138 closed

[2019-06-18 20:53] Alex-Vol-SV commented on #138
By the way, if you want me to take any different action prove that it is this plugin that failed and not OpenClover with a reproducer and a stack trace. I do not have enough time to research this when all indications are this failed during the instrumentation step inside OpenClover code.

[2019-06-19 01:25] taylorsmithgg commented on #138
I'll get you a sample.

[2019-07-10 10:25] Ankitakg opened #139 "failed to create task or type clover-clean Problem: failed to create task or type clover-clean Cause: The name is undefined. Action: Check the spelling. Action: Check that any custom tasks/types have been declared. Action: Check that any <presetdef>/<macrodef> declarations have taken place."
When i am  trying to run my build.gradle with clover for a module i am  facing this error.Can anybody tell me what is this error or how to resolve it.

[2019-07-10 10:49] Ankitakg opened #140 "Could not load definitions from resource cloverlib.xml"

[2019-07-10 14:51] Alex-Vol-SV commented on #140
More details? Gradle version, OpenClover version? Plugin version?

[2019-07-22 19:32] Alex-Vol-SV commented on #139
Did you follow the instructions in the documentation? Specifically setting the OpenClover JAR file in the dependencies?
https://github.com/bmuschko/gradle-clover-plugin#usage

[2019-08-06 16:04] Alex-Vol-SV commented on #139
Closing as user error since this is clearly documented and in all likelihood the result of providing an invalid OpenClover JAR dependency for the clover configuration.

[2019-08-06 16:04] #139 closed

[2019-08-06 16:05] Alex-Vol-SV commented on #140
Closing as user error. Reported did not respond with requested information. This is the result of using invalid or incorrect OpenClover JAR dependency.

[2019-08-06 16:05] #140 closed

[2019-09-12 17:44] seanleblanc opened #141 "Getting Signature Parse error with Grails project"
I'm seeing this when I try to run coverage. Any suggestions on things to try?

java.lang.reflect.GenericSignatureFormatError: Signature Parse error: Failure to make progress!

[2019-09-29 02:00] keithh63 commented on #117
plus 1. I would like to be able to show the coverage percentage in the build console output without having to open the report.

[2019-10-16 17:49] mejo123 opened #142 "Fix vulnerable jackson-databind dependency"
Blackduck scanning reported a critical vulnerability in the jackson-databind version used here, The recommendation was to move ahead to version 2.10.0. the said vulnerability is explained here :

The vulnerability issues are reported by CVE-2018-11307; CVE-2018-12022; CVE-2018-12023.
Can you fix it in next release?

Details:
[CVE-2018-11307 Vulnerability Issue CVE-2018-11307 Severity- Sonatype CVS

[2019-10-16 18:16] Alex-Vol-SV commented on #142
I will do ASAP.

[2019-10-16 18:42] mejo123 commented on #142
@Alex-Vol-SV I have already fixed the vulnerability and submitted a PR. Please Review.

[2019-10-18 23:17] Alex-Vol-SV commented on #142
Added to master and will be released shortly

[2019-10-18 23:17] #142 closed

[2019-10-18 23:18] Alex-Vol-SV commented on #117
Added console reporter feature when XML reports are used. The feature is activated automatically when the XML report is generated.

See update in README

[2019-10-18 23:18] #117 closed

[2019-10-18 23:19] Alex-Vol-SV commented on #121
Updated documentation with suggested improved regex

[2019-10-18 23:19] #121 closed

[2019-10-21 10:23] qodjf commented on #119
Why source level is 1.3 here?

[2019-10-21 14:54] Alex-Vol-SV commented on #119
@qodjf the source level is controlled by your own Gradle source level settings. This plugin does not set the source level. The plugin is compiled at Java 8 level but will instrument up to the level supported by the OpenClover library.

[2019-11-06 15:46] andersaaberg commented on #75
Thanks to @davidsonnabend for solving the problem with missing integrationtest results in the clover report (based on the java example: https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/functTest/projects/java-project-with-additional-tests/build.gradle).

Here is a complete solution for Grails that also takes care of filtering the non-exsiting srcDir:
[code]

You can also just creat

[2019-11-26 20:48] freshcodemonger opened #144 "JDK11, open clover 4.4.1"
[ant:clover] ....  Applications.java:6:8:unexpected token: enum

It doesn't seem like the gradle clover plugin works for JDK11.0.5, I am pretty sure openClover 4.4.1 works with JDK11.

[code]

[2019-11-26 21:02] Alex-Vol-SV commented on #144
This plugin wraps the OpenClover library, it does not change what it can handle. Are you setting the correct version of OpenClover in the `clover` dependency?

[2019-11-26 21:03] Alex-Vol-SV commented on #144
Do you have a small example project that can demonstrate this particular issue?

[2019-11-26 21:08] Alex-Vol-SV commented on #144
Also, provide Gradle version in addition to relevant source and target bytecode settings in your project.

[2019-12-04 06:46] freshcodemonger commented on #144
I created a repo with a sample project and added you as a collaborator.

gradle5 build fails....

if you switch the sourceCompatibility = 8 instead of = 11 it works.

[2019-12-04 06:55] Alex-Vol-SV commented on #144
Your example project uses openclover 4.2.0. That version is known not to work with Java 11. Version 4.4.1 works as far as I know.

No matter, I will use your example to see if I can make it work.

[2019-12-04 06:59] freshcodemonger commented on #144
Sorry I did have it at 4.4.1, first time creating a repo here so had some learning and must have lost the 4.4.1 change.  If you change that you will see the enum issue come up.

[2019-12-04 07:42] Alex-Vol-SV commented on #144
I found the issue and it is OpenClover after all. The latest available OpenClover only recognizes source compatibility up to Java 9. Anything above that falls back to the lowest setting or 1.3.

Thus, this is not something I  can change and you must redirect your issue to the OpenClover team.

Here is the latest source code showing the lack of support for anything beyond Java 9:

[OpenClover Sourc

[2019-12-04 07:42] #144 closed

[2019-12-04 07:44] Alex-Vol-SV commented on #144
OpenClover 4.4.1 supports Java sourceCompatibilty=9 but nothing beyond this. Until OpenClover adds support for Java 11 I cannot do anything about this problem.

[2019-12-04 16:39] freshcodemonger commented on #144
Thanks for looking at it !

Seems like Java 11 support isn't there in 4.4.1 yet.

https://bitbucket.org/openclover/clover/issues/64/480-support-java-11

[2020-01-10 08:29] ukbarr commented on #141
hi,

i got this error too, i have found the why in my case.

i have a **hasMany [titi: Titi]** used like this in a method :

titi?.first()?.field

this code generate the "java.lang.reflect.GenericSignatureFormatError: Signature Parse error: Failure to make progress!" because **titi** it's not a Set class but a Titi class

so i use an intermediate method to hide it and it's work 👍

getFirstField(ti

[2020-02-05 20:24] rmorrise opened #145 "Unable to compile project when clover is active"
See:
https://github.com/openclover/clover/issues/114

I linked a sample project in the comments for that issue to make it easy to reproduce.

[2020-02-06 16:04] DSEyers opened #146 "HTML Reporter throwing null pointer error (NPE)"
Getting NPE when request Clover to generate HTML file.  If set to false can get XML file fine.

**build.gradle snippet**
// Declare Gradle plugins to be used
plugins {
        id 'eclipse'                                // Add support for Eclipse
        id 'findbugs'                               // FindBugs plugin: http://findbugs.sourceforge.net/
        id 'java-library'

[2020-02-06 16:20] Alex-Vol-SV commented on #146
There is nothing I can see from this stack trace within the control of this plugin. The error appears internal to the OpenClover library implementation. I think you need to raise this as an issue with OpenClover instead.

[2020-02-07 04:07] Alex-Vol-SV commented on #145
The only workaround I have for you is to move the java source files in the src/main/groovy to allow joint compilation. This is the mode we support currently.

I understand this will cause the java source to be compiled with the Groovy compiler and will not support all the latest Java features this way.

[2020-02-07 20:08] mrdanpsmith commented on #119
@Alex-Vol-SV I'm seeing the same thing with regards to the version being set at 1.3 for source that is now at version 11.

I think the problem here is that if you use a higher source version than clover supports it drops it all the way down to 1.3 rather than falling back to the next highest supported version.

Is there a way to manually set the version the instrumentation is doing using this plug

[2020-02-07 20:13] Alex-Vol-SV commented on #119
yes, see the documentation README
As long ay the source is compatible with Java8 it ought to work.

We default to the java compatibility setting but allow you to set it for the plugin

[2020-02-10 13:43] marek-parfianowicz commented on #146
[code]

[2020-02-27 17:27] Alex-Vol-SV commented on #146
There is a very easy fix for this issue. Add the following to your gradle.properties
[code]
Neither Gradle tools and plugins nor this plugin really need an actual graphics display to perform their work. I use this in my build and eliminate the problem.

[2020-02-27 17:27] #146 closed

[2020-02-27 17:28] Alex-Vol-SV commented on #146
Since this is a common kind of failure when advanced options are used I will take the time to add a documentation pointer to this solution.

[2020-02-28 15:17] DSEyers commented on #146
Afraid didn't work.

------------------------------------------------------------
Gradle 4.4.1
------------------------------------------------------------

Build time:   2017-12-20 15:45:23 UTC
Revision:     10ed9dc355dc39f6307cc98fbd8cea314bdd381c

Groovy:       2.4.12
Ant:          Apache Ant(TM) version 1.9.9 compiled on February 2 2017
JVM:          1.8.0_242 (Eclipse OpenJ9 openj9-0.18.1)
OS

[2020-02-28 16:20] Alex-Vol-SV commented on #146
Nothing more I can do for you, this failure is inside the shaded library org.jfree.chart within the OpenClover tools. You might want to try also setting GRADLE_OPTS=-Djava.awt.headless=true

[2020-02-28 16:28] marek-parfianowicz commented on #146
com.atlassian.clover.reporters.html.RenderFileAction.call(
RenderFileAction.java:111)

Corresponds to

https://bitbucket.org/openclover/clover/src/edf4c673a0e6f3967b80888714fb71109b38a6c4/clover-core/src/main/java/com/atlassian/clover/reporters/html/RenderFileAction.java#lines-111

So it has to throw NPE on columnsTL. Check how many rendering threads you
use and please try with one thread whether

[2020-02-28 16:36] marek-parfianowicz commented on #146
Also, did you try with the latest OpenClover version i.e. 4.4.1? I see
4.2.0 and 4.3.1 in logs...

On Fri, Feb 28, 2020, 17:28 Marek Parfianowicz <marek.parfianowicz@gmail.com>
wrote:

[2020-02-28 16:37] Alex-Vol-SV commented on #146
For Gradle you can use `--max-workers=1` to avoid running parallel tests that get Clover rendering in trouble.

[2020-02-28 16:39] Alex-Vol-SV commented on #146
If this is is an option for the Ant tasks I can add it to the Gradle plugin, we are using Ant tasks for integration. Thanks @marek-parfianowicz

[2020-02-28 16:42] marek-parfianowicz commented on #146
Exception is thrown during report generation, I'm talking about Clover's
HTML rendering threads. So probably

you can use --max-workers=1 to avoid running parallel tests

won't help here.

On Fri, Feb 28, 2020, 17:37 Alexander Volanis (HPE) <
notifications@github.com> wrote:

[2020-03-09 11:59] DSEyers commented on #146
None of the solutions worked.  Going to file ticker with OpenClover group and thanks for all your help.

[2020-03-09 13:16] Alex-Vol-SV commented on #146
If I have time this week I will try to expose the maxThreads option for report generation so you can try that approach as well.

[2020-03-09 17:39] marek-parfianowicz commented on #146
1. Yes, it would be great to add a maxThreads option, at least we could check if the workaround works.

2. What Java version do you use to execute Gradle? I'm asking, because Clover was tested up to JDK 9 and probably won't run on newer JDK.

3. If the NPE is thrown from the `columnsTL.get()` then resetThreadLocals must have been called (as it sets the field to null, by default it's `new ThreadLoc

[2020-03-09 23:45] Alex-Vol-SV commented on #119
I am going to post 2.2.5 with the sourceCompatibility override to allow this to work as long as OpenClover can indeed process the source code at Java 9 level. I do not have any handy examples to prove it works in all cases but it does indeed override the setting so the Java compiler can be at Java 11 and OpenClover can be at 9 to work.

[2020-03-10 00:45] Alex-Vol-SV commented on #146
I added the timeout interval and numThreads options in the 2.2.5 version.
It should appear in the plugins portal within 24 hours.

Perhaps either or both of these options will make a difference.

[2020-03-10 12:08] DSEyers commented on #146
Java 1.8.232 have been using

On Mon, 9 Mar 2020, 17:39 Marek Parfianowicz, <notifications@github.com>
wrote:

[2020-03-12 14:19] DSEyers commented on #146
I tried a few things, but not able to get the updated plugin seen.

Tried:
- mkdir temp
- cd temp
- wget https://github.com/bmuschko/gradle-clover-plugin/archive/2.2.5.zip
- unzip 2.2.5.zip
- ./gradlew build publishToMavenLocal --exclude-task test --exclude-task functionalTest

And in a lank new folder creating and running build.grade with full contents of:

   buildscript {
        repositories {

[2020-03-12 14:35] Alex-Vol-SV commented on #146
There was an issue with the Gradle plugin portal. The Gradle team is fixing it. The release will be available from there soon I hope.

[2020-03-12 15:10] Alex-Vol-SV commented on #146
If you are trying it locally you need to add mavenLocal() to the repositories. You only have mavenCentral() and jcenter()

[2020-03-12 15:11] Alex-Vol-SV commented on #146
When you use the plugins closure DSL to load it you also need to add mavenLocal() to the settings.gradle under pluginManagement closure.

[2020-03-13 00:12] Alex-Vol-SV commented on #146
Plugin 2.2.5 is now available at the Gradle portal. Try it out with the suggestions @marek-parfianowicz made.

This is how you configure them
[code]

[2020-03-13 00:19] Alex-Vol-SV commented on #144
Added a new override in the plugin, it may help at least if your code is Java 9 but builds for Java 11. Using this configuration in your project you can have files building as Java 11 for production but Java 9 for Clover.
[code]
I have not tried this as much since I do not have any Java 9 code to run it with. It does make OpenClover select lower compatibility than Java/Groovy for compilation. If y

[2020-03-13 00:23] Alex-Vol-SV commented on #138
OpenClover does not support Java version 10 or later yet. I Added a new feature in the plugin to allow dropping down to Java 9 for the Clover compilation only. This solves the problem because in the original code the OpenClover library will auto-select the minimum Java version when the choice is not a supported Java version. As a result selecting Java 10 make Clover use Java 1.3 level which does n

[2020-03-13 10:03] DSEyers commented on #146
Afraid still get NPE issue

   - 09:49:34.604 [ERROR]
   [org.gradle.internal.buildevents.BuildExceptionReporter] FAILURE: Build
   failed with an exception.
   - 09:49:34.604 [ERROR]
   [org.gradle.internal.buildevents.BuildExceptionReporter]
   - 09:49:34.604 [ERROR]
   [org.gradle.internal.buildevents.BuildExceptionReporter] * What went wrong:
   - 09:49:34.604 [ERROR]
   [org.gradle.internal.b

[2020-03-13 13:06] Alex-Vol-SV commented on #146
We use the reckon plugin to discover the version assuming you are cloning the git repository which brings in the release tags. You did not clone the repository which means you did not get the git tags therefore your version was 0.0.1.

Sorry this did not make your problem better. This is unique and completely within the OpenClover library so I cannot tell why you get this. Did you actually change

[2020-03-17 17:57] freshcodemonger commented on #144
I spent a little more time on this and it turns out that the error I reported is not a java 1.9 or greater issue.  The problem is that the gradle clover plugin was compiling against 1.3 as "enum" was introduce maybe in 1.4.  So somehow setting source Compatibility to 11 caused the gradle clover plugin to use 1.3.  I'll give this fix a try though.

[2020-03-17 19:04] Alex-Vol-SV commented on #144
Yes, that is what my solution is attempting to address. OpenClover if given a choice of Java 10 or 11 or any version higher than what it can support it magically reconfigures its choice as the LOWEST supported version. This is unfortunate but it is why you see the issue.

My solution simply lets you build for Java 11 as long as your source is compilable for Java 9 which at this time is the largest

[2020-03-17 19:45] freshcodemonger commented on #144
Ok great.  Thanks for the work on the plugin !

[2020-03-27 16:57] BhimarayLagali commented on #126
Hi Alex,
I am facing same problem. I have migrated Springboot 1.5.X to 2.1.X and gradle 3.2.1 to 5.6.
Getting this error in sonarqube build..

* What went wrong:
A problem occurred configuring project ':apps:console'.

* Try:
Run with --debug option to get more log output. Run with --scan to get full insights.

Caused by: java.lang.NoClassDefFoundError: org/gradle/api/internal/AsmBackedClassGenera

[2020-03-30 16:20] Alex-Vol-SV commented on #126
The only way to get this error is if you are using plugin version 2.2.1. We have released several versions since. The version that fixed compatibility with Gradle 5 and Gradle 6 is 2.2.2 or later. Upgrade the plugin to the latest version for best results. I. am using this plugin with Gradle 6 builds and no problems.

[2020-04-01 13:16] BhimarayLagali commented on #126
Thanks Alex. I am getting different error after upgrade the version 2.2.2.  Do I need to use specific version of org.openclover:clover plugin for version 2.2.2.

Currently, I am using org.openclover:clover:4.2.0.

[2020-04-05 20:17] Alex-Vol-SV commented on #126
OpenClover cannot compile Java greater than version 9. You should be using the latest available OpenClover at all times anyway. You need to provide more information about the issue but my guess is that you are using Java features from version greater than 9. There are also some known issues with lambda expressions.

As I said I need more information. In any case this is a resolved issue, you can o

[2020-07-27 18:26] cherrymar opened #148 "Can't get console output for coverage"
Hi,

I'm trying to get console output for the coverage. The html version seems to work fine, but even though I have set xml to true, it doesn't show anything in my console/terminal. I'm trying to get console output so that I can enable the coverage badge on gitlab. What should I do? Any suggestions on how to debug this? I'm wondering if somehow it can't find the xml file? The logger.info output sh

[2020-07-27 19:03] Alex-Vol-SV commented on #148
The console output was added to the plugin in the latest versions, you did not specify which version of the Clover plugin you are using.

[2020-07-28 20:08] Alex-Vol-SV commented on #148
Closing as I assume you are now able to use the 2.2.4 or later versions which introduced the Console Coverage messages when using XML reports.

[2020-07-28 20:08] #148 closed

[2020-08-05 01:56] #118 closed

[2020-08-05 01:57] Alex-Vol-SV commented on #118
Fixed with version 3.0.0

[2021-02-04 19:30] virtualdogbert opened #150 "Out of memory errors"
After I installed the plugin and tried to run some tests I get some out of memory errors on cloverInstrumentCodeForTest. Any idea why and if there is a way to work around it?  Here is what I see on the commandline:
[code]

[2021-04-07 02:47] Alex-Vol commented on #150
Absolutely no idea, this may be an interaction between grails and the plugin. I am not a grails user and I don't have a way to provide workaround unless you can make a demonstration project that I can use to try and find the problem.

[2021-04-07 22:01] virtualdogbert commented on #150
I changed jobs just recently, so I'm not working on the same code base anymore. If someone from that company tries to do this again they can reopen this ticket and provide a demo project.

[2021-04-07 22:01] #150 closed

[2021-06-11 17:45] AdityaHoige opened #151 "Bintray link with plugin JAR is down."
[Bintray](https://bintray.com/bmuschko/gradle-plugins/com.bmuschko%3Agradle-clover-plugin)

[2021-07-10 02:36] Alex-Vol commented on #151
Bintray has been sunset and no longer available. I will try to update this to use the Gradle plugin portal. The plugin in its latest version is already available from the Gradle plugin portal and can be used as any other Gradle plugin.

https://plugins.gradle.org/plugin/com.bmuschko.clover

[2021-07-28 20:48] yeskamaldev opened #152 "How to apply customized source code path for code coverage?"
I have my project which is 100% in groovy having dependency to use a customized path instead of default source code directory i.e.
`src\com\appsource` and unit test code (written using SPOCK Framework) in `test\unit_test\spockframework`

Could any please tell me what are the changes I would require in my **build.gradle** file to successfully execute code coverage?
_Unable to do code coverage using

[2021-08-21 16:46] Alex-Vol commented on #152
IDEA plugin is not related to the Clover plugin so I cannot answer how that works.

Regarding the Clover plugin, if your code is configured with the usual source set `main` and `test` we pick up automatically what we need from there. Are you using custom source sets other than `main` or `test` in your build.gradle?

[2021-08-25 11:47] brandon1024 opened #153 "Plugin Incompatible with Latest Version of Gradle (7.2)"
Hello!

We are using this plugin in a few of our CI pipelines. I've been working to update our infrastructure to use the latest version of Gradle, but it appears that the plugin isn't compatible.

Here's the specific error:
[code]

It looks to me like the fields in [CloverMethodContextConvention.groovy](https://github.com/bmuschko/gradle-clover-plugin/blob/master/src/main/groovy/com/bmuschko/gradl

[2021-08-25 12:03] brandon1024 commented on #153
@bmuschko if I open a merge request to fix this, can we work to see this merged and published in a new release? I noticed from your README that you're pretty hands off these days, so I wanted to ask before I put in the effort. Thanks!

[2021-08-25 12:21] bmuschko commented on #153
I am completely hands off these days. @Alex-Vol is doing on the work in this project. He can comment on your issue. Thanks!

[2021-08-25 15:18] brandon1024 commented on #153
Thanks @bmuschko !

[2021-10-03 21:31] Alex-Vol commented on #153
If you already have the fix @brandon1024 I can work with you to merge and publish the new plugin.

[2021-10-03 22:26] brandon1024 commented on #153
Thanks @Alex-Vol ! I don't have a fix yet, haven't gotten around to i. I'll try to fix it up tomorrow :)

[2021-10-03 22:32] Alex-Vol commented on #153
Great, I am also fixing the publishing to push the plugin to the plugin portal now that Bintray is no longer available.

[2021-10-04 00:38] Alex-Vol commented on #153
It will take a few more changes to make this fully compatible. The functional tests use the syntax that is compatible with Gradle 6 or earlier versions. For 7.0 and later the changes to the dependency configurations are getting in the way. I will look at this to see if it is worth dropping some of the earlier versions from the test matrix so we can use the new syntax everywhere.

[2021-10-04 03:12] Alex-Vol commented on #153
I have all but one functional test passing with Gradle 7.2. This is close, weird issue with one functional test but it will get done. I don't need you to make a pull request @brandon1024 it was a simple fix after all. The functional tests got most of the issues exposed but for that one pesky groovy test failing to produce coverage under 7.2.

[2021-10-04 04:10] Alex-Vol commented on #153
Code is ready, issue was that Spock Framework 2.0 requires JUnit Platform setting for test execution. Will plan to make the release in a week from today.

[2021-10-04 23:02] Alex-Vol commented on #152
No response, closing.

Examples of the required configuration exist in the plugin documents. See README.md for details.

[2021-10-04 23:02] #152 closed

[2021-10-04 23:03] Alex-Vol commented on #145
Closing, this is documented requirement for Groovy/Java joint compilation.

[2021-10-04 23:03] #145 closed

[2021-10-05 00:13] #151 closed

[2021-10-05 00:13] #153 closed

[2021-10-05 00:15] Alex-Vol commented on #153
Had some time this evening so new release is up on the Gradle Plugin Portal.

Enjoy!

-Alex

[2021-10-05 11:28] brandon1024 commented on #153
You're a champ @Alex-Vol ! Thanks so much!

[2021-10-05 14:12] Alex-Vol commented on #153
Thank you for pointing the obvious issue. Good luck with the rest of the Gradle 7 migration.

[2021-12-25 11:52] mikedld opened #154 "[ant:groovyc] org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed: General error during class generation: Index -1 out of bounds for length 0"
### Expected Behavior
Plugin doesn't interfere with normal build/test flow, coverage report is generated.

### Current Behavior
Task "cloverInstrumentCodeForTest" fails.
<details><summary>Build output with stacktrace</summary>

[code]
</details>

### Context
I'm trying to collect code coverage for Jenkins shared library project. Before adding the plugin to the project, everything builds successful

[2021-12-25 12:12] mikedld commented on #154
After adding `clover 'org.openclover:clover:4.4.1'` line to `dependencies{}` block (per documentation), another error is issued.
<details><summary>Build output with stacktrace</summary>

[code]
</details>

[2021-12-25 12:16] mikedld commented on #154
After adding `clover 'org.openclover:clover:4.4.1'` line to `dependencies{}` block (per documentation), another error is issued.
<details><summary>Build output with stacktrace (JDK 11, 17)</summary>

[code]
</details>
<details><summary>Build output with stacktrace (JDK 1.8)</summary>

[code]
</details>

[2021-12-26 02:14] Alex-Vol commented on #154
I am afraid that the problem is with the Clover library.  The plugin simply handles the invoking of the Clover instrumentation compiler and this error points to a failed Groovy compilation. The best approach would be to ask for help from the developers of the Clover library and tools.

http://openclover.com/support

You might want to try the latest version of the Clover library though. You can sel

[2021-12-26 09:58] mikedld commented on #154
Thanks. Removing the attribute seems to "fix" the issue, so I suppose it's related to openclover/clover#20. It's just that I didn't see any Clover library references in the stacktrace which got me confused. Closing.

[2021-12-26 09:58] #154 closed

[2022-01-20 10:35] ukuleleplayer opened #155 "Task :cloverInstrumentCodeForTest FAILED [ant:groovyc] org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:"
When running `.\gradlew test`, at some point the Clover task :cloverInstrumentCodeForTest is run, this provides the error from the title - full stacktrace in "Current Behavior" below.

### Expected Behavior
All my tests running normally

### Current Behavior
Everything in the project, including the unit test, compiling like normal.
When :cloverInstrumentCodeForTest is issued, after around 8 second

[2022-01-23 17:33] Alex-Vol commented on #155
I am not a Grails developer and I have no time to debug a Grails specific issue. If you can recreate this issue with the Grails example in the plugin tests then I can help but also my time is limited this month and the next. I will not be able to make any changes to help with this situation. This is a classloader issue and these are always nasty to figure out. There are multiple layered classloade

[2022-01-23 17:36] Alex-Vol commented on #155
By the way, Java 16 may not be a supported language level for the Clover library. You may have to set your language level to a lesser language version to have this work. Are you setting the language level for Groovy and Java to less than 16?

[2022-01-23 17:41] Alex-Vol commented on #155
Also, Clover library does not support Groovy 3.0. This is the main issue I believe, we cannot use this with Groovy 3.0 code. It will be very hard to make this work with latest Gradle versions and Grails until Clover library supports Groovy 3.x version.

[2022-04-13 09:47] Zorobay opened #156 "MissingMethodException when running Spock tests"
When I run the gradle :test task in my Grails project, some tests fail with `MissingMethodException`, but most tests pass. When I run my tests from IntelliJ (using the same gradle version), none of my tests fail. Disabling clover and running the :test task also makes all my tests pass. I believe there is something in Clover that generates there `MissingMethodException`.

More specifically, it seem

[2022-05-23 00:21] Alex-Vol commented on #156
If you could create an example that can reproduce this failure perhaps I could try to find out a solution.

My best guess is something in your code is not well supported in the Clover compiler which is not part of this plugin. We use the OpenClover library and issues of that sort are typically rooted in some obscure Groovy  problem that the OpenClover Groovy compilation cannot handle. One such iss

[2022-05-24 11:31] Eugene-Novikov opened #157 "Issue using com.bmuschko.clover plugin for Android lib (gradle, java)"
Hi,

Gradle 6.9.1 (gradle wrapper)

After adding plugin to plugins section
`id 'com.bmuschko.clover' version '3.0.1' apply true`

**I have an error with stack trace at the end**

I tried to check plugin code, but don't understand reason, because of the code:

[code]

**with such result:**
[code]

**Stack trace:**
A problem occurred configuring project ':lib'.

Caused by: java.lang.RuntimeException

[2022-06-08 09:24] Zorobay commented on #156
Thank you very much for your reply. We decided to move to using Jacoco in our project instead, so I can't really recreate this anymore. Thanks anyway :)

[2022-06-08 09:25] #156 closed

[2022-07-03 19:28] Alex-Vol commented on #157
Android plugin has caused issues with this plugin before. I have been unable to test and understand the issues. Something unusual with the way the Android tooling sets up the source sets or the tasks causes an unexpected null pointer exception.

I thought I had added some defensive logic to correct the NPE although I cannot recall when that was done.

[2022-07-03 19:34] Alex-Vol commented on #157
I think I remember a situation that was caused by the Android tools setting the testClassesDirs property of the test task to null which is an invalid value when it should be a collection reference. But I do not have time or a way to test as I am not an Android developer myself.